@charset "UTF-8";
/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Dale implementation : © Bart Swinkels
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
/*
	This is the CSS stylesheet of your game User Interface.

	Styles defined on this file will be applied to the HTML elements you define in your
	HTML template (*.tpl), and to HTML elements you create dynamically (in dale.js).

	Usually, you are using CSS to:

	1°) define the overall layout of your game (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

	2°) create your CSS-sprites: All images of your games should be gathered into a small number of image files. Then, using background-image and background-position CSS properties, you create HTML blocks that can  display these images correctly (see example below).

	3°) ... anything else: It is really easy to add and remove CSS classes dynamically from your Javascript with dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why, very often, using CSS classes for the logic of your user interface allow you to do complex thing easily.
*/
.dale-action-label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  border-radius: 0 0 10px 10px;
  padding: 3px 6px;
  color: white;
  min-width: 20%;
  text-align: center;
}

.dale-text {
  pointer-events: none;
  display: none;
}

.dale-icon {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  top: 50%;
  background-image: url("img/icons.png");
  transform: translate(-50%, -50%);
}

.dale-clickable {
  cursor: pointer;
}

.selection-icon {
  background-image: url("img/selection_icons.png");
  width: 50px;
  height: 50px;
  background-size: 800% 100%;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.dale-myhandsize-icon {
  background-image: url("img/handsize_icon.png");
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 4px;
  margin-right: 5px;
}
.dale-myhandsize-icon before {
  content: "\f005";
}

.placeholder {
  background-image: url("img/placeholder.png");
  border-radius: 10px;
  position: absolute;
}

.selected .dale-card {
  border-radius: 10px;
  box-shadow: 0px 2px 8px #e4aa19;
  border: 3px solid #e4aa19;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.chameleon-selected {
  border-radius: 10px;
  border: 1px solid #1d7a2a !important;
  animation: blinker 0.5s infinite;
}

.chameleon-icon {
  pointer-events: none;
  background-image: url("img/chameleon_icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 10%;
  left: 5%;
  opacity: 50%;
}

.DEPRECATED-dale-card {
  background-image: url("img/cards.jpg");
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.dale-card {
  background-image: url("https://decks.daimyria.fi/cards-dom/dom-1-chameleon-1.jpg");
  background-size: cover;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  transition: transform 0.2s, translate 0.2s;
  z-index: 100;
}
.dale-card.dale-clickable:hover {
  transform: scale(1.1);
  translate: 0 -10px;
  z-index: 200;
}

.dale-card.dale-relative {
  margin: 5px;
  position: relative !important;
}

#market-board-background {
  background-image: url(img/shop_day.jpg);
  background-repeat: no-repeat;
  position: relative;
}

#market-board {
  position: relative;
}

.dale-horizontal-flex {
  display: flex;
  width: 100%;
}

.dale-no-vertical-margin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.dale-left-margin {
  margin-left: 10px;
}

#schedule {
  flex: 0 1;
}

.stall-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  flex: 1 1;
}
.stall-wrap .stall-container {
  width: 100%; /* literally wasted 2 full hours to get this dumb css styling to work */
  display: flex;
  flex: 1 1;
  justify-content: left;
}
.stall-wrap .stall-container .stack-container {
  flex: 1 1; /* Allow items to grow and shrink */
  margin-left: 5px;
  min-width: 0; /* Ensure items can shrink below their content width */
  position: relative;
}
.stall-wrap .stall-container .stack-container .dale-stack-placeholder-first {
  background-image: url("img/placeholder_purple.png");
  border-radius: 10px;
  position: absolute;
}
.stall-wrap .stall-container .stack-container .dale-stack-placeholder-first.dale-clickable:hover {
  background-color: var(--build-a);
}
.stall-wrap .stall-container .stack-container .dale-stack-placeholder-first.dale-clickable:hover .dale-icon {
  width: 50px;
  height: 50px;
  top: 40%;
  left: 56%;
}
.stall-wrap .stall-container .stack-container .dale-stack-placeholder-first.dale-clickable:hover .dale-text {
  display: block;
  color: var(--build);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  font-weight: bold;
  text-align: center;
}
.stall-wrap .stall-container .stack-container .dale-stack-placeholder-first.dale-selected {
  background-color: var(--build-a);
}
.stall-wrap .stall-container .stack-container .dale-stack-placeholder {
  clip-path: inset(0 0 0 25%);
  background-image: url("img/placeholder_purple.png");
  border-radius: 10px;
  position: absolute;
}
.stall-wrap .stall-container .stack-container .dale-stack-placeholder.dale-clickable:hover {
  background-color: var(--build-a);
}
.stall-wrap .stall-container .stack-container .dale-stack-placeholder.dale-clickable:hover .dale-icon {
  width: 50px;
  height: 50px;
  left: 78%;
}
.stall-wrap .stall-container .stack-container .dale-stack-placeholder.dale-selected {
  background-color: var(--build-a);
}
.stall-wrap .stall-container .stack-container .dale-stack-index {
  position: absolute;
  color: var(--build);
  font-weight: bold;
  left: 82%;
  top: 5%;
}
.stall-wrap .name {
  margin: 10px;
  white-space: nowrap;
}

.pile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  width: max-content;
}
.pile-container .name {
  margin: 10px;
  white-space: nowrap;
}
.pile-container .size {
  z-index: 500;
  position: absolute;
  font-weight: bold;
  top: 4%;
  left: 82%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.62); /* Optional, for better visibility */
  text-align: center;
  padding: 5px 10px;
  width: 40px;
  font-size: 16px;
  margin: auto;
  padding-top: 2px;
  padding-bottom: 2px;
}
.pile-container .pile {
  position: relative;
}

.popin-card-container {
  display: flex;
  flex-wrap: wrap;
}
.popin-card-container .dale-clickable {
  transition: all 0.2s ease-in-out;
}
.popin-card-container .dale-clickable:hover {
  transform: scale(1.05);
}

.dale-grayed-out {
  opacity: 0.3;
  filter: grayscale(100%);
  pointer-events: none;
}

.dale-hidden {
  display: none;
}

.card-row-container {
  display: flex;
}

.card-row-slot {
  margin-left: 5px;
}

.card-tooltip .chameleon-name {
  text-decoration: line-through;
  color: #1d7a2a;
}
.card-tooltip .text {
  max-width: 300px;
}

:root {
  --full: 10;
  --deg-max: 5deg; /* Half of full, in degrees */
  --deg-min: calc(-1 * var(--deg-max));
  --technique: rgb(40,125,184);
  --technique-a: rgba(40,125,184,0.15);
  --purchase: rgb(210,128,21);
  --purchase-a: rgba(210,128,21,0.15);
  --build: rgb(192, 61, 120);
  --build-a: rgb(192,61,120,0.15);
  --discard: rgb(112,61,5);
  --discard-a: rgb(112,61,5,0.15);
}

body {
  background: url("https://stories.daimyria.fi/img/background-page.jpg");
}

#dale-myhand-wrap {
  flex: 1 1;
  padding: 0 10px 15px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  font-family: helvetica;
}
#dale-myhand-wrap .dale-label {
  color: white;
  padding: 10px 15px;
  border-radius: 0 0 10px 10px;
  display: none;
  margin-bottom: 20px;
}

#dale-myhand-wrap.dale-technique .dale-label.dale-technique {
  display: inline-block;
}

#dale-myhand-wrap.dale-purchase .dale-label.dale-purchase {
  display: inline-block;
}

#dale-myhand-wrap.dale-build .dale-label.dale-build {
  display: inline-block;
}

#dale-myhand-wrap.dale-discard .dale-label.dale-discard {
  display: inline-block;
}

#dale-myhand-wrap.dale-technique {
  outline: 3px solid var(--technique);
}

#dale-myhand-wrap.dale-technique .dale-label {
  background-color: var(--technique);
}

#dale-myhand-wrap.dale-purchase {
  outline: 3px solid var(--purchase);
}

#dale-myhand-wrap.dale-purchase .dale-label {
  background-color: var(--purchase);
}

#dale-myhand-wrap.dale-build {
  outline: 3px solid var(--build);
}

#dale-myhand-wrap.dale-build .dale-label {
  background-color: var(--build);
}

#dale-myhand-wrap.dale-discard {
  outline: 3px solid var(--discard);
}

#dale-myhand-wrap.dale-discard .dale-label {
  background-color: var(--discard);
}

.dale-card.dale-selected:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#dale-myhand-wrap.dale-technique .stockitem.dale-selected {
  outline: 3px solid var(--technique);
  background-color: var(--technique-a);
  background-blend-mode: overlay;
}
#dale-myhand-wrap.dale-technique .stockitem:hover {
  box-shadow: 0px 0px 8px 2px var(--technique);
}

#dale-myhand-wrap.dale-purchase .stockitem.dale-selected {
  outline: 3px solid var(--purchase);
  background-color: var(--purchase-a);
  background-blend-mode: overlay;
}
#dale-myhand-wrap.dale-purchase .stockitem:hover {
  box-shadow: 0px 0px 8px 2px var(--purchase);
}

#dale-myhand-wrap.dale-build .stockitem.dale-selected {
  outline: 3px solid var(--build);
  background-color: var(--build-a);
  background-blend-mode: overlay;
}
#dale-myhand-wrap.dale-build .stockitem:hover {
  box-shadow: 0px 0px 8px 2px var(--build);
}

#dale-myhand-wrap.dale-discard .stockitem.dale-selected {
  outline: 3px solid var(--discard);
  background-color: var(--discard-a);
  background-blend-mode: overlay;
}
#dale-myhand-wrap.dale-discard .stockitem:hover {
  box-shadow: 0px 0px 8px 2px var(--discard);
}

#dale-myhand {
  /* ----------------------------- */
  /* --- <GENERATED BY PYTHON> --- */
  /* ----------------------------- */
  /* 1 cards */
  /* 2 cards */
  /* 3 cards */
  /* 4 cards */
  /* 5 cards */
  /* 6 cards */
  /* 7 cards */
  /* 8 cards */
  /* 9 cards */
  /* 10 cards */
  /* ------------------------------ */
  /* --- </GENERATED BY PYTHON> --- */
  /* ------------------------------ */
}
#dale-myhand .stockitem {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: transform 0.2s, translate 0.2s;
  z-index: 100;
}
#dale-myhand .stockitem:hover {
  z-index: 200 !important;
}
#dale-myhand .stockitem[data-arc="1/1"] {
  transition: transform 0.3s ease;
  transform: rotate(0deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="1/1"]:hover {
  transform: scale(1.1) rotate(0deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="1/2"] {
  transition: transform 0.3s ease;
  transform: rotate(-5deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="1/2"]:hover {
  transform: scale(1.1) rotate(-5deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="2/2"] {
  transition: transform 0.3s ease;
  transform: rotate(5deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="2/2"]:hover {
  transform: scale(1.1) rotate(5deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="1/3"] {
  transition: transform 0.3s ease;
  transform: rotate(-5deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="1/3"]:hover {
  transform: scale(1.1) rotate(-5deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="2/3"] {
  transition: transform 0.3s ease;
  transform: rotate(0deg) translateY(-5px);
}
#dale-myhand .stockitem[data-arc="2/3"]:hover {
  transform: scale(1.1) rotate(0deg) translateY(-15px);
}
#dale-myhand .stockitem[data-arc="3/3"] {
  transition: transform 0.3s ease;
  transform: rotate(5deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="3/3"]:hover {
  transform: scale(1.1) rotate(5deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="1/4"] {
  transition: transform 0.3s ease;
  transform: rotate(-5deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="1/4"]:hover {
  transform: scale(1.1) rotate(-5deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="2/4"] {
  transition: transform 0.3s ease;
  transform: rotate(-1.6666666667deg) translateY(-7px);
}
#dale-myhand .stockitem[data-arc="2/4"]:hover {
  transform: scale(1.1) rotate(-1.6666666667deg) translateY(-17px);
}
#dale-myhand .stockitem[data-arc="3/4"] {
  transition: transform 0.3s ease;
  transform: rotate(1.6666666667deg) translateY(-7px);
}
#dale-myhand .stockitem[data-arc="3/4"]:hover {
  transform: scale(1.1) rotate(1.6666666667deg) translateY(-17px);
}
#dale-myhand .stockitem[data-arc="4/4"] {
  transition: transform 0.3s ease;
  transform: rotate(5deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="4/4"]:hover {
  transform: scale(1.1) rotate(5deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="1/5"] {
  transition: transform 0.3s ease;
  transform: rotate(-5deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="1/5"]:hover {
  transform: scale(1.1) rotate(-5deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="2/5"] {
  transition: transform 0.3s ease;
  transform: rotate(-2.5deg) translateY(-8px);
}
#dale-myhand .stockitem[data-arc="2/5"]:hover {
  transform: scale(1.1) rotate(-2.5deg) translateY(-18px);
}
#dale-myhand .stockitem[data-arc="3/5"] {
  transition: transform 0.3s ease;
  transform: rotate(0deg) translateY(-11px);
}
#dale-myhand .stockitem[data-arc="3/5"]:hover {
  transform: scale(1.1) rotate(0deg) translateY(-21px);
}
#dale-myhand .stockitem[data-arc="4/5"] {
  transition: transform 0.3s ease;
  transform: rotate(2.5deg) translateY(-8px);
}
#dale-myhand .stockitem[data-arc="4/5"]:hover {
  transform: scale(1.1) rotate(2.5deg) translateY(-18px);
}
#dale-myhand .stockitem[data-arc="5/5"] {
  transition: transform 0.3s ease;
  transform: rotate(5deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="5/5"]:hover {
  transform: scale(1.1) rotate(5deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="1/6"] {
  transition: transform 0.3s ease;
  transform: rotate(-4.5812200853deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="1/6"]:hover {
  transform: scale(1.1) rotate(-4.5812200853deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="2/6"] {
  transition: transform 0.3s ease;
  transform: rotate(-2.7487320512deg) translateY(-8px);
}
#dale-myhand .stockitem[data-arc="2/6"]:hover {
  transform: scale(1.1) rotate(-2.7487320512deg) translateY(-18px);
}
#dale-myhand .stockitem[data-arc="3/6"] {
  transition: transform 0.3s ease;
  transform: rotate(-0.9162440171deg) translateY(-12px);
}
#dale-myhand .stockitem[data-arc="3/6"]:hover {
  transform: scale(1.1) rotate(-0.9162440171deg) translateY(-22px);
}
#dale-myhand .stockitem[data-arc="4/6"] {
  transition: transform 0.3s ease;
  transform: rotate(0.9162440171deg) translateY(-12px);
}
#dale-myhand .stockitem[data-arc="4/6"]:hover {
  transform: scale(1.1) rotate(0.9162440171deg) translateY(-22px);
}
#dale-myhand .stockitem[data-arc="5/6"] {
  transition: transform 0.3s ease;
  transform: rotate(2.7487320512deg) translateY(-8px);
}
#dale-myhand .stockitem[data-arc="5/6"]:hover {
  transform: scale(1.1) rotate(2.7487320512deg) translateY(-18px);
}
#dale-myhand .stockitem[data-arc="6/6"] {
  transition: transform 0.3s ease;
  transform: rotate(4.5812200853deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="6/6"]:hover {
  transform: scale(1.1) rotate(4.5812200853deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="1/7"] {
  transition: transform 0.3s ease;
  transform: rotate(-3.818304866deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="1/7"]:hover {
  transform: scale(1.1) rotate(-3.818304866deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="2/7"] {
  transition: transform 0.3s ease;
  transform: rotate(-2.5455365773deg) translateY(-7px);
}
#dale-myhand .stockitem[data-arc="2/7"]:hover {
  transform: scale(1.1) rotate(-2.5455365773deg) translateY(-17px);
}
#dale-myhand .stockitem[data-arc="3/7"] {
  transition: transform 0.3s ease;
  transform: rotate(-1.2727682887deg) translateY(-11px);
}
#dale-myhand .stockitem[data-arc="3/7"]:hover {
  transform: scale(1.1) rotate(-1.2727682887deg) translateY(-21px);
}
#dale-myhand .stockitem[data-arc="4/7"] {
  transition: transform 0.3s ease;
  transform: rotate(0deg) translateY(-12px);
}
#dale-myhand .stockitem[data-arc="4/7"]:hover {
  transform: scale(1.1) rotate(0deg) translateY(-22px);
}
#dale-myhand .stockitem[data-arc="5/7"] {
  transition: transform 0.3s ease;
  transform: rotate(1.2727682887deg) translateY(-11px);
}
#dale-myhand .stockitem[data-arc="5/7"]:hover {
  transform: scale(1.1) rotate(1.2727682887deg) translateY(-21px);
}
#dale-myhand .stockitem[data-arc="6/7"] {
  transition: transform 0.3s ease;
  transform: rotate(2.5455365773deg) translateY(-7px);
}
#dale-myhand .stockitem[data-arc="6/7"]:hover {
  transform: scale(1.1) rotate(2.5455365773deg) translateY(-17px);
}
#dale-myhand .stockitem[data-arc="7/7"] {
  transition: transform 0.3s ease;
  transform: rotate(3.818304866deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="7/7"]:hover {
  transform: scale(1.1) rotate(3.818304866deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="1/8"] {
  transition: transform 0.3s ease;
  transform: rotate(-3.2731540832deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="1/8"]:hover {
  transform: scale(1.1) rotate(-3.2731540832deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="2/8"] {
  transition: transform 0.3s ease;
  transform: rotate(-2.3379672023deg) translateY(-6px);
}
#dale-myhand .stockitem[data-arc="2/8"]:hover {
  transform: scale(1.1) rotate(-2.3379672023deg) translateY(-16px);
}
#dale-myhand .stockitem[data-arc="3/8"] {
  transition: transform 0.3s ease;
  transform: rotate(-1.4027803214deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="3/8"]:hover {
  transform: scale(1.1) rotate(-1.4027803214deg) translateY(-20px);
}
#dale-myhand .stockitem[data-arc="4/8"] {
  transition: transform 0.3s ease;
  transform: rotate(-0.4675934405deg) translateY(-12px);
}
#dale-myhand .stockitem[data-arc="4/8"]:hover {
  transform: scale(1.1) rotate(-0.4675934405deg) translateY(-22px);
}
#dale-myhand .stockitem[data-arc="5/8"] {
  transition: transform 0.3s ease;
  transform: rotate(0.4675934405deg) translateY(-12px);
}
#dale-myhand .stockitem[data-arc="5/8"]:hover {
  transform: scale(1.1) rotate(0.4675934405deg) translateY(-22px);
}
#dale-myhand .stockitem[data-arc="6/8"] {
  transition: transform 0.3s ease;
  transform: rotate(1.4027803214deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="6/8"]:hover {
  transform: scale(1.1) rotate(1.4027803214deg) translateY(-20px);
}
#dale-myhand .stockitem[data-arc="7/8"] {
  transition: transform 0.3s ease;
  transform: rotate(2.3379672023deg) translateY(-6px);
}
#dale-myhand .stockitem[data-arc="7/8"]:hover {
  transform: scale(1.1) rotate(2.3379672023deg) translateY(-16px);
}
#dale-myhand .stockitem[data-arc="8/8"] {
  transition: transform 0.3s ease;
  transform: rotate(3.2731540832deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="8/8"]:hover {
  transform: scale(1.1) rotate(3.2731540832deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="1/9"] {
  transition: transform 0.3s ease;
  transform: rotate(-2.8641923683deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="1/9"]:hover {
  transform: scale(1.1) rotate(-2.8641923683deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="2/9"] {
  transition: transform 0.3s ease;
  transform: rotate(-2.1481442762deg) translateY(-5px);
}
#dale-myhand .stockitem[data-arc="2/9"]:hover {
  transform: scale(1.1) rotate(-2.1481442762deg) translateY(-15px);
}
#dale-myhand .stockitem[data-arc="3/9"] {
  transition: transform 0.3s ease;
  transform: rotate(-1.4320961842deg) translateY(-9px);
}
#dale-myhand .stockitem[data-arc="3/9"]:hover {
  transform: scale(1.1) rotate(-1.4320961842deg) translateY(-19px);
}
#dale-myhand .stockitem[data-arc="4/9"] {
  transition: transform 0.3s ease;
  transform: rotate(-0.7160480921deg) translateY(-11px);
}
#dale-myhand .stockitem[data-arc="4/9"]:hover {
  transform: scale(1.1) rotate(-0.7160480921deg) translateY(-21px);
}
#dale-myhand .stockitem[data-arc="5/9"] {
  transition: transform 0.3s ease;
  transform: rotate(0deg) translateY(-12px);
}
#dale-myhand .stockitem[data-arc="5/9"]:hover {
  transform: scale(1.1) rotate(0deg) translateY(-22px);
}
#dale-myhand .stockitem[data-arc="6/9"] {
  transition: transform 0.3s ease;
  transform: rotate(0.7160480921deg) translateY(-11px);
}
#dale-myhand .stockitem[data-arc="6/9"]:hover {
  transform: scale(1.1) rotate(0.7160480921deg) translateY(-21px);
}
#dale-myhand .stockitem[data-arc="7/9"] {
  transition: transform 0.3s ease;
  transform: rotate(1.4320961842deg) translateY(-9px);
}
#dale-myhand .stockitem[data-arc="7/9"]:hover {
  transform: scale(1.1) rotate(1.4320961842deg) translateY(-19px);
}
#dale-myhand .stockitem[data-arc="8/9"] {
  transition: transform 0.3s ease;
  transform: rotate(2.1481442762deg) translateY(-5px);
}
#dale-myhand .stockitem[data-arc="8/9"]:hover {
  transform: scale(1.1) rotate(2.1481442762deg) translateY(-15px);
}
#dale-myhand .stockitem[data-arc="9/9"] {
  transition: transform 0.3s ease;
  transform: rotate(2.8641923683deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="9/9"]:hover {
  transform: scale(1.1) rotate(2.8641923683deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="1/10"] {
  transition: transform 0.3s ease;
  transform: rotate(-2.5460600401deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="1/10"]:hover {
  transform: scale(1.1) rotate(-2.5460600401deg) translateY(-10px);
}
#dale-myhand .stockitem[data-arc="2/10"] {
  transition: transform 0.3s ease;
  transform: rotate(-1.9802689201deg) translateY(-5px);
}
#dale-myhand .stockitem[data-arc="2/10"]:hover {
  transform: scale(1.1) rotate(-1.9802689201deg) translateY(-15px);
}
#dale-myhand .stockitem[data-arc="3/10"] {
  transition: transform 0.3s ease;
  transform: rotate(-1.4144778001deg) translateY(-8px);
}
#dale-myhand .stockitem[data-arc="3/10"]:hover {
  transform: scale(1.1) rotate(-1.4144778001deg) translateY(-18px);
}
#dale-myhand .stockitem[data-arc="4/10"] {
  transition: transform 0.3s ease;
  transform: rotate(-0.84868668deg) translateY(-11px);
}
#dale-myhand .stockitem[data-arc="4/10"]:hover {
  transform: scale(1.1) rotate(-0.84868668deg) translateY(-21px);
}
#dale-myhand .stockitem[data-arc="5/10"] {
  transition: transform 0.3s ease;
  transform: rotate(-0.28289556deg) translateY(-12px);
}
#dale-myhand .stockitem[data-arc="5/10"]:hover {
  transform: scale(1.1) rotate(-0.28289556deg) translateY(-22px);
}
#dale-myhand .stockitem[data-arc="6/10"] {
  transition: transform 0.3s ease;
  transform: rotate(0.28289556deg) translateY(-12px);
}
#dale-myhand .stockitem[data-arc="6/10"]:hover {
  transform: scale(1.1) rotate(0.28289556deg) translateY(-22px);
}
#dale-myhand .stockitem[data-arc="7/10"] {
  transition: transform 0.3s ease;
  transform: rotate(0.84868668deg) translateY(-11px);
}
#dale-myhand .stockitem[data-arc="7/10"]:hover {
  transform: scale(1.1) rotate(0.84868668deg) translateY(-21px);
}
#dale-myhand .stockitem[data-arc="8/10"] {
  transition: transform 0.3s ease;
  transform: rotate(1.4144778001deg) translateY(-8px);
}
#dale-myhand .stockitem[data-arc="8/10"]:hover {
  transform: scale(1.1) rotate(1.4144778001deg) translateY(-18px);
}
#dale-myhand .stockitem[data-arc="9/10"] {
  transition: transform 0.3s ease;
  transform: rotate(1.9802689201deg) translateY(-5px);
}
#dale-myhand .stockitem[data-arc="9/10"]:hover {
  transform: scale(1.1) rotate(1.9802689201deg) translateY(-15px);
}
#dale-myhand .stockitem[data-arc="10/10"] {
  transition: transform 0.3s ease;
  transform: rotate(2.5460600401deg) translateY(0px);
}
#dale-myhand .stockitem[data-arc="10/10"]:hover {
  transform: scale(1.1) rotate(2.5460600401deg) translateY(-10px);
}
