@charset "UTF-8";
/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Dale implementation : © Bart Swinkels
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
/*
	This is the CSS stylesheet of your game User Interface.

	Styles defined on this file will be applied to the HTML elements you define in your
	HTML template (*.tpl), and to HTML elements you create dynamically (in dale.js).

	Usually, you are using CSS to:

	1°) define the overall layout of your game (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

	2°) create your CSS-sprites: All images of your games should be gathered into a small number of image files. Then, using background-image and background-position CSS properties, you create HTML blocks that can  display these images correctly (see example below).

	3°) ... anything else: It is really easy to add and remove CSS classes dynamically from your Javascript with dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why, very often, using CSS classes for the logic of your user interface allow you to do complex thing easily.
*/
#page-title {
  min-height: 34px;
}

.action-button:has(.daleofmerchants-icon) {
  padding: 2px 12px;
}

.whiteblock:has([data-clock="0"]) {
  transition: background-color 0.3s ease;
  background-color: var(--daleofmerchants-dawn-a);
}

.whiteblock:has([data-clock="1"]) {
  transition: background-color 0.3s ease;
  background-color: var(--daleofmerchants-day-a);
}

.whiteblock:has([data-clock="2"]) {
  transition: background-color 0.3s ease;
  background-color: var(--daleofmerchants-night-a);
}

.daleofmerchants-deck-selection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.daleofmerchants-deck-selection-unavailable {
  background-color: black;
  background-blend-mode: luminosity;
  opacity: 0.5;
}

.daleofmerchants-component-name {
  text-align: center;
  margin: 10px;
  white-space: nowrap;
}

.daleofmerchants-play-area-title {
  text-align: left;
  white-space: nowrap;
}

.bgabutton.daleofmerchants-bga-button-selected {
  outline: 3px solid red;
}

@keyframes high-priority {
  from {
    opacity: 1;
    scale: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
    scale: 1.1;
  }
  75% {
    opacity: 0.75;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.daleofmerchants-clickable {
  cursor: pointer;
}
.daleofmerchants-clickable.daleofmerchants-high-priority {
  animation: high-priority 1s ease-in-out infinite;
}

.daleofmerchants-text {
  pointer-events: none;
  display: none;
}

.daleofmerchants-card[data-location=market] .daleofmerchants-effective-value {
  color: lightcoral;
}

.daleofmerchants-effective-value {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 6%;
  position: absolute;
  top: 2%;
  color: lightgreen;
  font-weight: bold;
  font-size: large;
  text-shadow: -1px -1px 0px #000, 0px -1px 0px #000, 1px -1px 0px #000, -1px 0px 0px #000, 1px 0px 0px #000, -1px 1px 0px #000, 0px 1px 0px #000, 1px 1px 0px #000, -2px -2px 0px #000, -1px -2px 0px #000, 0px -2px 0px #000, 1px -2px 0px #000, 2px -2px 0px #000, 2px -1px 0px #000, 2px 0px 0px #000, 2px 1px 0px #000, 2px 2px 0px #000, 1px 2px 0px #000, 0px 2px 0px #000, -1px 2px 0px #000, -2px 2px 0px #000, -2px 1px 0px #000, -2px 0px 0px #000, -2px -1px 0px #000;
  z-index: 200;
}

.daleofmerchants-icon {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  top: 50%;
  border-radius: 3px;
  background-image: url("img/icons.png");
  transform: translate(-50%, -50%);
  z-index: 500;
}
.daleofmerchants-icon.daleofmerchants-selection-icon-1 {
  top: 80%;
  width: 50px;
  height: 50px;
}
.daleofmerchants-icon.daleofmerchants-selection-icon-1 ~ .daleofmerchants-selection-icon-2 {
  display: none;
}
.daleofmerchants-icon.daleofmerchants-selection-icon-2 {
  top: 80%;
  width: 50px;
  height: 50px;
}
.daleofmerchants-icon.daleofmerchants-selection-icon-2 ~ .daleofmerchants-selection-icon-1 {
  display: none;
}
.daleofmerchants-icon.daleofmerchants-chameleon-icon {
  pointer-events: none;
  width: 90px;
  height: 90px;
  top: 39%;
  left: 50%;
  opacity: 50%;
}
.daleofmerchants-icon.daleofmerchants-avid-financier-coin-icon {
  z-index: 501;
  width: 50px;
  height: 50px;
  top: 45%;
  left: 50%;
}
.daleofmerchants-icon.daleofmerchants-avid-financier-coin-icon:nth-child(1):nth-last-child(2) {
  left: 35%;
}
.daleofmerchants-icon.daleofmerchants-avid-financier-coin-icon:nth-child(2):nth-last-child(1) {
  left: 65%;
}

.player_score .daleofmerchants-icon {
  position: static;
  height: 23px;
  width: 23px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 4px;
  transform: translateY(5px);
}
.player_score .daleofmerchants-icon before {
  content: "\f005";
}

.daleofmerchants-token-area {
  display: inline-flex;
  float: right;
}
.daleofmerchants-token-area .daleofmerchants-icon {
  z-index: 99;
}
.daleofmerchants-token-area .daleofmerchants-clock-wrap {
  min-width: 80px;
  border-radius: 10px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline-flex;
  align-items: center;
}
.daleofmerchants-token-area .daleofmerchants-clock-wrap[data-clock="0"] {
  background: var(--daleofmerchants-dawn);
}
.daleofmerchants-token-area .daleofmerchants-clock-wrap[data-clock="1"] {
  background: var(--daleofmerchants-day);
}
.daleofmerchants-token-area .daleofmerchants-clock-wrap[data-clock="2"] {
  background: var(--daleofmerchants-night);
}
.daleofmerchants-token-area .daleofmerchants-coins-wrap {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.daleofmerchants-token-area .daleofmerchants-icon {
  position: static;
  height: 28px;
  width: 28px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 4px;
  transform: translate(0px, 0px);
}
.daleofmerchants-token-area .daleofmerchants-icon before {
  content: "\f005";
}
.daleofmerchants-token-area .daleofmerchants-label {
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
}
.daleofmerchants-token-area .daleofmerchants-label.daleofmerchants-clickable {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  transition: scale 0.3s ease, margin-right 0.3s ease;
  scale: 1;
}
.daleofmerchants-token-area .daleofmerchants-label.daleofmerchants-clickable:hover {
  margin-right: 10px;
  scale: 1.1;
}

.daleofmerchants-wrap-default .daleofmerchants-spending {
  display: none;
}

.daleofmerchants-myhandsize-icon {
  background-image: url("img/handsize_icon.png");
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 4px;
  margin-right: 5px;
}
.daleofmerchants-myhandsize-icon before {
  content: "\f005";
}

.daleofmerchants-placeholder {
  background-image: url("img/placeholders.png");
  transition: transform 0.3s ease, scale 0.3s ease;
  background-size: 500% 200%;
  border-radius: 10px;
  position: absolute;
}

#daleofmerchants-market-wrap .daleofmerchants-selected.daleofmerchants-wrap-technique .daleofmerchants-card {
  box-shadow: 0px 2px 8px var(--daleofmerchants-wrap-technique);
  outline: 3px solid var(--daleofmerchants-wrap-technique);
  background-color: var(--daleofmerchants-wrap-technique-a);
  background-blend-mode: overlay;
}
#daleofmerchants-market-wrap .daleofmerchants-selected .daleofmerchants-card {
  border-radius: 10px;
  box-shadow: 0px 2px 8px var(--daleofmerchants-wrap-purchase);
  outline: 3px solid var(--daleofmerchants-wrap-purchase);
  transform: translateY(5px);
  scale: 1.1;
  z-index: 200;
}
#daleofmerchants-market-wrap .daleofmerchants-selected .daleofmerchants-card.daleofmerchants-line-target-chameleon {
  transform: translateY(0);
}
#daleofmerchants-market-wrap .daleofmerchants-stack-container > .daleofmerchants-icon {
  top: -20px;
  width: 40px;
  height: 40px;
  z-index: 0;
}
#daleofmerchants-market-wrap .daleofmerchants-pile-container {
  padding-bottom: 11px;
}

.daleofmerchants-passive-selected {
  cursor: pointer;
  scale: 1.1;
  z-index: 200 !important;
  outline: 3px solid var(--daleofmerchants-wrap-technique);
}

.daleofmerchants-blinking {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}
.daleofmerchants-line-source {
  cursor: pointer;
  border-radius: 10px;
  z-index: 202 !important;
}

.daleofmerchants-line-target {
  cursor: pointer;
  border-radius: 10px;
}

.daleofmerchants-line-source-chameleon {
  scale: 1.1 !important;
  box-shadow: 0px 0px 16px rgb(31, 119, 44) !important;
  outline: 3px solid rgb(31, 119, 44) !important;
}

.daleofmerchants-line-target-chameleon {
  scale: 1.05 !important;
  box-shadow: 0px 0px 16px rgb(31, 119, 44) !important;
  outline: 3px solid rgba(31, 119, 44, 0.5) !important;
}

.daleofmerchants-line-source-technique {
  scale: 1.1 !important;
  box-shadow: 0px 0px 16px var(--daleofmerchants-wrap-technique) !important;
  outline: 3px solid var(--daleofmerchants-wrap-technique) !important;
}

.daleofmerchants-line-target-technique {
  box-shadow: 0px 0px 16px var(--daleofmerchants-wrap-technique) !important;
}

.daleofmerchants-card {
  background-image: url("img/cards.jpg");
  background-size: cover;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  transition: transform 0.3s ease, scale 0.3s ease;
  z-index: 100;
}
.daleofmerchants-card:hover {
  scale: 1.1;
  z-index: 200;
}
.daleofmerchants-card.daleofmerchants-chameleon-overlay {
  pointer-events: none;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.daleofmerchants-card.daleofmerchants-relative {
  margin: 5px;
  position: relative;
}
.daleofmerchants-card.daleofmerchants-deck-selection {
  background-image: url("img/cards_selection.jpg");
}
.daleofmerchants-card.daleofmerchants-card-sheet-1 {
  background-image: url("img/cards_1.jpg");
}
.daleofmerchants-card.daleofmerchants-card-sheet-2 {
  background-image: url("img/cards_2.jpg");
}
.daleofmerchants-card.daleofmerchants-card-sheet-3 {
  background-image: url("img/cards_3.jpg");
}

#daleofmerchants-market-board-background {
  background-image: url(img/shop_day.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

.daleofmerchants-horizontal-flex {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.daleofmerchants-no-vertical-margin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.daleofmerchants-left-margin {
  margin-left: 10px;
}

.daleofmerchants-stall-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  flex: 10 1;
}

.daleofmerchants-stall-container {
  width: 100%; /* literally wasted 2 full hours to get this dumb css styling to work */
  display: flex;
  flex: 1 1;
  justify-content: left;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container {
  flex: 1 1; /* Allow items to grow and shrink */
  margin-left: 5px;
  min-width: 0; /* Ensure items can shrink below their content width */
  position: relative;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-card:hover {
  transition: transform 0.3s ease 0s, scale 0.3s ease 0s, z-index 0s ease 0.3s;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-card:hover.daleofmerchants-line-source {
  transition: transform 0.3s ease 0s, scale 0.3s ease 0s;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container.daleofmerchants-grayed-out {
  pointer-events: none;
  opacity: 0.5;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container.daleofmerchants-grayed-out .daleofmerchants-placeholder {
  background-position-y: -100%;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container.daleofmerchants-grayed-out .daleofmerchants-stack-index {
  color: #707070;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-placeholder-market {
  background-position-x: -300%;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-placeholder-market.daleofmerchants-placeholder-partially-covered {
  background-position-x: -400%;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-placeholder-stall {
  background-position-x: 0%;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-placeholder-stall.daleofmerchants-placeholder-partially-covered {
  background-position-x: -100%;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-placeholder-stall.daleofmerchants-placeholder-partially-covered.daleofmerchants-clickable:hover .daleofmerchants-icon {
  width: 50px;
  height: 50px;
  left: 78%;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-placeholder-stall.daleofmerchants-placeholder-partially-covered.daleofmerchants-clickable:hover .daleofmerchants-text {
  display: none;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-placeholder-stall.daleofmerchants-clickable:hover {
  background-color: var(--daleofmerchants-wrap-build-a);
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-placeholder-stall.daleofmerchants-clickable:hover .daleofmerchants-icon {
  width: 50px;
  height: 50px;
  top: 40%;
  left: 56%;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-placeholder-stall.daleofmerchants-clickable:hover .daleofmerchants-text {
  display: block;
  color: var(--daleofmerchants-wrap-build);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  font-weight: bold;
  text-align: center;
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-placeholder-stall.daleofmerchants-selected {
  background-color: var(--daleofmerchants-wrap-build-a);
}
.daleofmerchants-stall-container .daleofmerchants-stack-container .daleofmerchants-stack-index {
  position: absolute;
  color: var(--daleofmerchants-wrap-build);
  font-weight: bold;
  left: 82%;
  top: 5%;
}

.daleofmerchants-pile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  width: max-content;
}
.daleofmerchants-pile-container .daleofmerchants-pile-size {
  pointer-events: none;
  z-index: 500;
  position: absolute;
  font-weight: bold;
  top: 4%;
  color: white;
  background-color: rgba(0, 0, 0, 0.62); /* Optional, for better visibility */
  text-align: center;
  font-size: 16px;
  right: -5%;
  border-radius: 5px;
  padding: 2px 7px;
  white-space: nowrap;
}
.daleofmerchants-pile-container .daleofmerchants-pile {
  position: relative;
}
.daleofmerchants-pile-container .daleofmerchants-placeholder {
  background-position-x: -200%;
}

.popin-card-container {
  display: flex;
  flex-wrap: wrap;
}

.daleofmerchants-hidden {
  display: none !important;
}

.daleofmerchants-card-tooltip {
  pointer-events: none;
}
.daleofmerchants-card-tooltip .daleofmerchants-chameleon-name {
  text-decoration: line-through;
  color: #1d7a2a;
}
.daleofmerchants-card-tooltip .daleofmerchants-original-value {
  text-decoration: line-through;
  color: gray;
}
.daleofmerchants-card-tooltip .daleofmerchants-card-tooltip-text {
  max-width: 300px;
}
.daleofmerchants-card-tooltip .daleofmerchants-tooltip-clock {
  display: inline;
  border-radius: 10px;
  padding-left: 0px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 5px;
}
.daleofmerchants-card-tooltip .daleofmerchants-tooltip-clock[data-clock="0"] {
  background-color: var(--daleofmerchants-dawn);
}
.daleofmerchants-card-tooltip .daleofmerchants-tooltip-clock[data-clock="1"] {
  background-color: var(--daleofmerchants-day);
}
.daleofmerchants-card-tooltip .daleofmerchants-tooltip-clock[data-clock="2"] {
  background-color: var(--daleofmerchants-night);
}

.daleofmerchants-fizzle {
  scale: 1.1;
}

#daleofmerchants-svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 201;
}
#daleofmerchants-svg-container svg {
  width: 100%;
  height: 100%;
}
#daleofmerchants-svg-container .daleofmerchants-line-chameleon {
  stroke: green;
  stroke-width: 10;
  stroke-dashoffset: 1000;
  stroke-dasharray: 30, 10;
  animation: daleofmerchants-dash 20s linear infinite;
}
#daleofmerchants-svg-container .daleofmerchants-line-technique {
  stroke: var(--daleofmerchants-wrap-technique);
  stroke-width: 10;
  stroke-dashoffset: 1000;
  stroke-dasharray: 30, 10;
  animation: daleofmerchants-dash 20s linear infinite;
}
@keyframes daleofmerchants-dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.dijitTooltip {
  pointer-events: none;
}
.dijitTooltip div {
  pointer-events: none;
}

.dijitTooltipContainer {
  pointer-events: none;
}

.daleofmerchants-dice {
  position: absolute;
  background-image: url("img/dice.png");
  background-size: 600% 500%;
  background-position-y: 0%;
  background-position-x: -300%;
  width: 50px;
  height: 50px;
}

.daleofmerchants-log-span {
  display: inline;
  vertical-align: middle;
}
.daleofmerchants-log-span .daleofmerchants-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  left: auto;
  position: relative;
  transform: translate(0, 0);
}

/* Basic styling for input and dropdown */
.daleofmerchants-autocomplete-container {
  position: relative;
  display: inline-block;
}
.daleofmerchants-autocomplete-container input {
  width: 300px;
  padding: 8px;
}

.daleofmerchants-dropdown {
  position: absolute;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.daleofmerchants-dropdown div {
  padding: 8px;
  cursor: pointer;
}

.daleofmerchants-dropdown div:hover {
  background-color: #f1f1f1;
}

:root {
  --ocelot: rgb(227,6,19);
  --polecat: rgb(215,64,119);
  --hare: rgb(72,124,190);
  --pangolin1: rgb(127,186,39);
  --pangolin2: rgb(0,149,62);
  --die-size: 60px;
  --die-half: 30px;
}

.daleofmerchants-die-container {
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 19%;
  left: 50%;
  z-index: 700;
  transform: translateX(-50%);
  min-width: 100%;
}
.daleofmerchants-die-container[data-die_type=pangolin1] {
  left: 20%;
}
.daleofmerchants-die-container[data-die_type=pangolin2] {
  left: 80%;
}

.daleofmerchants-die {
  width: var(--die-size);
  height: var(--die-size);
  transform-style: preserve-3d;
  transition: transform 1s ease-out;
  margin: auto;
}

.daleofmerchants-die-side {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.6);
  background-image: url("img/dice.png");
  background-size: 600% 500%;
}

.daleofmerchants-die .daleofmerchants-die-side-1 {
  transform: translateZ(var(--die-half));
}
.daleofmerchants-die .daleofmerchants-die-side-2 {
  transform: rotateX(-180deg) translateZ(var(--die-half)) scaleY(-1);
}
.daleofmerchants-die .daleofmerchants-die-side-3 {
  transform: rotateY(90deg) translateZ(var(--die-half));
}
.daleofmerchants-die .daleofmerchants-die-side-4 {
  transform: rotateY(-90deg) translateZ(var(--die-half));
}
.daleofmerchants-die .daleofmerchants-die-side-5 {
  transform: rotateX(90deg) translateZ(var(--die-half));
}
.daleofmerchants-die .daleofmerchants-die-side-6 {
  transform: rotateX(-90deg) translateZ(var(--die-half));
}

.daleofmerchants-die[type=ocelot] .daleofmerchants-die-side-1 {
  background-position: 0% 0%;
}
.daleofmerchants-die[type=ocelot] .daleofmerchants-die-side-2 {
  background-position: -100% 0%;
}
.daleofmerchants-die[type=ocelot] .daleofmerchants-die-side-3 {
  background-position: -200% 0%;
}
.daleofmerchants-die[type=ocelot] .daleofmerchants-die-side-4 {
  background-position: -300% 0%;
}
.daleofmerchants-die[type=ocelot] .daleofmerchants-die-side-5 {
  background-position: -400% 0%;
}
.daleofmerchants-die[type=ocelot] .daleofmerchants-die-side-6 {
  background-position: -500% 0%;
}
.daleofmerchants-die[type=ocelot] ~ .daleofmerchants-die-result {
  background-color: var(--ocelot);
}

.daleofmerchants-die[type=polecat] .daleofmerchants-die-side-1 {
  background-position: 0% -100%;
}
.daleofmerchants-die[type=polecat] .daleofmerchants-die-side-2 {
  background-position: -100% -100%;
}
.daleofmerchants-die[type=polecat] .daleofmerchants-die-side-3 {
  background-position: -200% -100%;
}
.daleofmerchants-die[type=polecat] .daleofmerchants-die-side-4 {
  background-position: -300% -100%;
}
.daleofmerchants-die[type=polecat] .daleofmerchants-die-side-5 {
  background-position: -400% -100%;
}
.daleofmerchants-die[type=polecat] .daleofmerchants-die-side-6 {
  background-position: -500% -100%;
}
.daleofmerchants-die[type=polecat] ~ .daleofmerchants-die-result {
  background-color: var(--polecat);
}

.daleofmerchants-die[type=hare] .daleofmerchants-die-side-1 {
  background-position: 0% -200%;
}
.daleofmerchants-die[type=hare] .daleofmerchants-die-side-2 {
  background-position: -100% -200%;
}
.daleofmerchants-die[type=hare] .daleofmerchants-die-side-3 {
  background-position: -200% -200%;
}
.daleofmerchants-die[type=hare] .daleofmerchants-die-side-4 {
  background-position: -300% -200%;
}
.daleofmerchants-die[type=hare] .daleofmerchants-die-side-5 {
  background-position: -400% -200%;
}
.daleofmerchants-die[type=hare] .daleofmerchants-die-side-6 {
  background-position: -500% -200%;
}
.daleofmerchants-die[type=hare] ~ .daleofmerchants-die-result {
  background-color: var(--hare);
}

.daleofmerchants-die[type=pangolin1] .daleofmerchants-die-side-1 {
  background-position: 0% -300%;
}
.daleofmerchants-die[type=pangolin1] .daleofmerchants-die-side-2 {
  background-position: -100% -300%;
}
.daleofmerchants-die[type=pangolin1] .daleofmerchants-die-side-3 {
  background-position: -200% -300%;
}
.daleofmerchants-die[type=pangolin1] .daleofmerchants-die-side-4 {
  background-position: -300% -300%;
}
.daleofmerchants-die[type=pangolin1] .daleofmerchants-die-side-5 {
  background-position: -400% -300%;
}
.daleofmerchants-die[type=pangolin1] .daleofmerchants-die-side-6 {
  background-position: -500% -300%;
}
.daleofmerchants-die[type=pangolin1] ~ .daleofmerchants-die-result {
  background-color: var(--pangolin1);
}

.daleofmerchants-die[type=pangolin2] .daleofmerchants-die-side-1 {
  background-position: 0% -400%;
}
.daleofmerchants-die[type=pangolin2] .daleofmerchants-die-side-2 {
  background-position: -100% -400%;
}
.daleofmerchants-die[type=pangolin2] .daleofmerchants-die-side-3 {
  background-position: -200% -400%;
}
.daleofmerchants-die[type=pangolin2] .daleofmerchants-die-side-4 {
  background-position: -300% -400%;
}
.daleofmerchants-die[type=pangolin2] .daleofmerchants-die-side-5 {
  background-position: -400% -400%;
}
.daleofmerchants-die[type=pangolin2] .daleofmerchants-die-side-6 {
  background-position: -500% -400%;
}
.daleofmerchants-die[type=pangolin2] ~ .daleofmerchants-die-result {
  background-color: var(--pangolin2);
}

.daleofmerchants-die[side="1"] {
  transform: rotateX(0deg) rotateY(0deg);
}
.daleofmerchants-die[side="1"].daleofmerchants-roll {
  transform: rotateX(0deg) rotateY(0deg) rotateX(360deg) rotateY(360deg);
}

.daleofmerchants-die[side="2"] {
  transform: rotateX(0deg) rotateY(180deg);
}
.daleofmerchants-die[side="2"].daleofmerchants-roll {
  transform: rotateX(0deg) rotateY(180deg) rotateX(360deg) rotateY(360deg);
}

.daleofmerchants-die[side="3"] {
  transform: rotateX(0deg) rotateY(-90deg);
}
.daleofmerchants-die[side="3"].daleofmerchants-roll {
  transform: rotateX(0deg) rotateY(-90deg) rotateX(360deg) rotateY(360deg);
}

.daleofmerchants-die[side="4"] {
  transform: rotateX(0deg) rotateY(90deg);
}
.daleofmerchants-die[side="4"].daleofmerchants-roll {
  transform: rotateX(0deg) rotateY(90deg) rotateX(360deg) rotateY(360deg);
}

.daleofmerchants-die[side="5"] {
  transform: rotateX(-90deg) rotateY(0deg);
}
.daleofmerchants-die[side="5"].daleofmerchants-roll {
  transform: rotateX(-90deg) rotateY(0deg) rotateX(360deg) rotateY(360deg);
}

.daleofmerchants-die[side="6"] {
  transform: rotateX(90deg) rotateY(0deg);
}
.daleofmerchants-die[side="6"].daleofmerchants-roll {
  transform: rotateX(90deg) rotateY(0deg) rotateX(360deg) rotateY(360deg);
}

.daleofmerchants-die-result {
  margin-top: 20px;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.daleofmerchants-die-result.daleofmerchants-die-hide {
  opacity: 0;
}
.daleofmerchants-die-result.daleofmerchants-die-reveal {
  animation: fadeUp 0.3s forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    bottom: -10px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
:root {
  --daleofmerchants-wrap-technique: rgb(40,125,184);
  --daleofmerchants-wrap-technique-a: rgba(40,125,184,0.15);
  --daleofmerchants-wrap-purchase: rgb(210,128,21);
  --daleofmerchants-wrap-purchase-a: rgba(210,128,21,0.15);
  --daleofmerchants-wrap-build: rgb(192, 61, 120);
  --daleofmerchants-wrap-build-a: rgb(192,61,120,0.15);
  --daleofmerchants-wrap-discard: rgb(232,62,51);
  --daleofmerchants-wrap-discard-a: rgb(232,62,51,0.15);
  --daleofmerchants-wrap-default: rgb(100,100,100);
  --daleofmerchants-wrap-default-g: rgb(100,100,100, 0.5);
  --daleofmerchants-wrap-default-a: rgb(100,100,100,0.15);
  --daleofmerchants-dawn: rgb(0, 163, 158, 0.25);
  --daleofmerchants-dawn-a: rgb(0, 163, 158, 0.05);
  --daleofmerchants-day: rgb(230, 71, 36, 0.25);
  --daleofmerchants-day-a:rgb(230, 71, 36, 0.05);
  --daleofmerchants-night: rgb(115, 46, 132, 0.25);
  --daleofmerchants-night-a: rgb(115, 46, 132, 0.05);
}

body {
  background: url("https://stories.daimyria.fi/img/background-page.jpg");
}

#daleofmerchants-myhand-wrap {
  flex-grow: 1;
}

#daleofmerchants-mylimbo-wrap {
  flex-grow: 0;
  min-width: 35%;
  transition: padding 0.5s, min-width 0.5s;
}
#daleofmerchants-mylimbo-wrap.daleofmerchants-hidden-transitioning {
  min-width: 0;
  padding: 0;
}
#daleofmerchants-mylimbo-wrap.daleofmerchants-hidden-transitioning .daleofmerchants-label {
  color: transparent;
  padding: 0px 0px;
  width: 0px;
}
#daleofmerchants-mylimbo-wrap.daleofmerchants-hidden {
  display: none;
  min-width: 0;
  padding: 0;
}
#daleofmerchants-mylimbo-wrap.daleofmerchants-hidden .daleofmerchants-label {
  display: none;
}

.daleofmerchants-wrap-technique.daleofmerchants-arc-stock {
  outline: 3px solid var(--daleofmerchants-wrap-technique);
}
.daleofmerchants-wrap-technique .daleofmerchants-label {
  background-color: var(--daleofmerchants-wrap-technique);
}
.daleofmerchants-wrap-technique .daleofmerchants-card.daleofmerchants-selected {
  outline: 3px solid var(--daleofmerchants-wrap-technique);
  background-color: var(--daleofmerchants-wrap-technique-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-technique .daleofmerchants-card.daleofmerchants-selected .daleofmerchants-card.daleofmerchants-chameleon-overlay {
  background-color: var(--daleofmerchants-wrap-technique-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-technique .daleofmerchants-clickable:hover {
  box-shadow: 0px 0px 8px 2px var(--daleofmerchants-wrap-technique);
}
.daleofmerchants-wrap-technique .daleofmerchants-pile-selected-size {
  color: var(--daleofmerchants-wrap-technique);
}

.daleofmerchants-wrap-purchase.daleofmerchants-arc-stock {
  outline: 3px solid var(--daleofmerchants-wrap-purchase);
}
.daleofmerchants-wrap-purchase .daleofmerchants-label {
  background-color: var(--daleofmerchants-wrap-purchase);
}
.daleofmerchants-wrap-purchase .daleofmerchants-card.daleofmerchants-selected {
  outline: 3px solid var(--daleofmerchants-wrap-purchase);
  background-color: var(--daleofmerchants-wrap-purchase-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-purchase .daleofmerchants-card.daleofmerchants-selected .daleofmerchants-card.daleofmerchants-chameleon-overlay {
  background-color: var(--daleofmerchants-wrap-purchase-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-purchase .daleofmerchants-card.daleofmerchants-selected:has(.daleofmerchants-build-icon) {
  outline: 3px solid var(--daleofmerchants-wrap-build);
  background-color: var(--daleofmerchants-wrap-build-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-purchase .daleofmerchants-card.daleofmerchants-selected:has(.daleofmerchants-build-icon) .daleofmerchants-card.daleofmerchants-chameleon-overlay {
  background-color: var(--daleofmerchants-wrap-build-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-purchase .daleofmerchants-clickable:hover {
  box-shadow: 0px 0px 8px 2px var(--daleofmerchants-wrap-purchase);
}
.daleofmerchants-wrap-purchase .daleofmerchants-pile-selected-size {
  color: var(--daleofmerchants-wrap-purchase);
}

.daleofmerchants-wrap-build.daleofmerchants-arc-stock {
  outline: 3px solid var(--daleofmerchants-wrap-build);
}
.daleofmerchants-wrap-build .daleofmerchants-label {
  background-color: var(--daleofmerchants-wrap-build);
}
.daleofmerchants-wrap-build .daleofmerchants-card.daleofmerchants-selected {
  outline: 3px solid var(--daleofmerchants-wrap-build);
  background-color: var(--daleofmerchants-wrap-build-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-build .daleofmerchants-card.daleofmerchants-selected .daleofmerchants-card.daleofmerchants-chameleon-overlay {
  background-color: var(--daleofmerchants-wrap-build-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-build .daleofmerchants-clickable:hover {
  box-shadow: 0px 0px 8px 2px var(--daleofmerchants-wrap-build);
}
.daleofmerchants-wrap-build .daleofmerchants-pile-selected-size {
  color: var(--daleofmerchants-wrap-build);
}

.daleofmerchants-wrap-discard.daleofmerchants-arc-stock {
  outline: 3px solid var(--daleofmerchants-wrap-discard);
}
.daleofmerchants-wrap-discard .daleofmerchants-label {
  background-color: var(--daleofmerchants-wrap-discard);
}
.daleofmerchants-wrap-discard .daleofmerchants-card.daleofmerchants-selected {
  outline: 3px solid var(--daleofmerchants-wrap-discard);
  background-color: var(--daleofmerchants-wrap-discard-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-discard .daleofmerchants-card.daleofmerchants-selected .daleofmerchants-card.daleofmerchants-chameleon-overlay {
  background-color: var(--daleofmerchants-wrap-discard-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-discard .daleofmerchants-clickable:hover {
  box-shadow: 0px 0px 8px 2px var(--daleofmerchants-wrap-discard);
}
.daleofmerchants-wrap-discard .daleofmerchants-pile-selected-size {
  color: var(--daleofmerchants-wrap-discard);
}

.daleofmerchants-wrap-default.daleofmerchants-arc-stock {
  outline: 3px solid var(--daleofmerchants-wrap-default-g);
}
.daleofmerchants-wrap-default .daleofmerchants-label {
  background-color: var(--daleofmerchants-wrap-default-g);
}
.daleofmerchants-wrap-default .daleofmerchants-card.daleofmerchants-selected {
  outline: 3px solid var(--daleofmerchants-wrap-default);
  background-color: var(--daleofmerchants-wrap-default-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-default .daleofmerchants-card.daleofmerchants-selected .daleofmerchants-card.daleofmerchants-chameleon-overlay {
  background-color: var(--daleofmerchants-wrap-default-a);
  background-blend-mode: overlay;
}
.daleofmerchants-wrap-default .daleofmerchants-clickable:hover {
  box-shadow: 0px 0px 8px 2px var(--daleofmerchants-wrap-default);
}
.daleofmerchants-wrap-default .daleofmerchants-pile-selected-size {
  color: var(--daleofmerchants-wrap-default);
}

.daleofmerchants-card.daleofmerchants-selected:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.daleofmerchants-schedule {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 100%;
  flex-grow: 1;
}

.daleofmerchants-flat-stock .daleofmerchants-card {
  z-index: 100;
}
.daleofmerchants-flat-stock .daleofmerchants-card:hover:not(.daleofmerchants-line-source):not(.daleofmerchants-line-target) {
  scale: 1.1;
  z-index: 200 !important;
}

.daleofmerchants-arc-stock {
  padding: 0 10px 15px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  font-family: helvetica;
  width: auto;
  /* ----------------------------- */
  /* --- <GENERATED BY PYTHON> --- */
  /* ----------------------------- */
  /* 1 cards */
  /* 2 cards */
  /* 3 cards */
  /* 4 cards */
  /* 5 cards */
  /* 6 cards */
  /* 7 cards */
  /* 8 cards */
  /* 9 cards */
  /* 10 cards */
  /* 11 cards */
  /* 12 cards */
  /* ------------------------------ */
  /* --- </GENERATED BY PYTHON> --- */
  /* ------------------------------ */
}
.daleofmerchants-arc-stock .daleofmerchants-label {
  color: white;
  padding: 10px 15px;
  border-radius: 0 0 10px 10px;
  display: inline-block;
  margin-bottom: 20px;
  transition: color 0.5s, color 0.5s, width 0.5s;
}
.daleofmerchants-arc-stock .daleofmerchants-label .daleofmerchants-log-span .daleofmerchants-icon {
  z-index: 1;
  width: 20px;
  height: 20px;
}
.daleofmerchants-arc-stock .daleofmerchants-card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: scale 0.3s ease, transform 0.5s ease;
  z-index: 100;
}
.daleofmerchants-arc-stock .daleofmerchants-card:hover:not(.daleofmerchants-line-source):not(.daleofmerchants-line-target) {
  scale: 1.1;
  z-index: 200 !important;
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/1"] {
  transform: rotate(0deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/2"] {
  transform: rotate(-5deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="2/2"] {
  transform: rotate(5deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/3"] {
  transform: rotate(-5deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="2/3"] {
  transform: rotate(0deg) translateY(-5px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="3/3"] {
  transform: rotate(5deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/4"] {
  transform: rotate(-5deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="2/4"] {
  transform: rotate(-1.6666666667deg) translateY(-7px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="3/4"] {
  transform: rotate(1.6666666667deg) translateY(-7px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="4/4"] {
  transform: rotate(5deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/5"] {
  transform: rotate(-5deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="2/5"] {
  transform: rotate(-2.5deg) translateY(-8px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="3/5"] {
  transform: rotate(0deg) translateY(-11px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="4/5"] {
  transform: rotate(2.5deg) translateY(-8px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="5/5"] {
  transform: rotate(5deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/6"] {
  transform: rotate(-4.5812200853deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="2/6"] {
  transform: rotate(-2.7487320512deg) translateY(-8px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="3/6"] {
  transform: rotate(-0.9162440171deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="4/6"] {
  transform: rotate(0.9162440171deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="5/6"] {
  transform: rotate(2.7487320512deg) translateY(-8px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="6/6"] {
  transform: rotate(4.5812200853deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/7"] {
  transform: rotate(-3.818304866deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="2/7"] {
  transform: rotate(-2.5455365773deg) translateY(-7px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="3/7"] {
  transform: rotate(-1.2727682887deg) translateY(-11px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="4/7"] {
  transform: rotate(0deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="5/7"] {
  transform: rotate(1.2727682887deg) translateY(-11px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="6/7"] {
  transform: rotate(2.5455365773deg) translateY(-7px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="7/7"] {
  transform: rotate(3.818304866deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/8"] {
  transform: rotate(-3.2731540832deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="2/8"] {
  transform: rotate(-2.3379672023deg) translateY(-6px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="3/8"] {
  transform: rotate(-1.4027803214deg) translateY(-10px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="4/8"] {
  transform: rotate(-0.4675934405deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="5/8"] {
  transform: rotate(0.4675934405deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="6/8"] {
  transform: rotate(1.4027803214deg) translateY(-10px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="7/8"] {
  transform: rotate(2.3379672023deg) translateY(-6px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="8/8"] {
  transform: rotate(3.2731540832deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/9"] {
  transform: rotate(-2.8641923683deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="2/9"] {
  transform: rotate(-2.1481442762deg) translateY(-5px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="3/9"] {
  transform: rotate(-1.4320961842deg) translateY(-9px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="4/9"] {
  transform: rotate(-0.7160480921deg) translateY(-11px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="5/9"] {
  transform: rotate(0deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="6/9"] {
  transform: rotate(0.7160480921deg) translateY(-11px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="7/9"] {
  transform: rotate(1.4320961842deg) translateY(-9px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="8/9"] {
  transform: rotate(2.1481442762deg) translateY(-5px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="9/9"] {
  transform: rotate(2.8641923683deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/10"] {
  transform: rotate(-2.5460600401deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="2/10"] {
  transform: rotate(-1.9802689201deg) translateY(-5px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="3/10"] {
  transform: rotate(-1.4144778001deg) translateY(-8px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="4/10"] {
  transform: rotate(-0.84868668deg) translateY(-11px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="5/10"] {
  transform: rotate(-0.28289556deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="6/10"] {
  transform: rotate(0.28289556deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="7/10"] {
  transform: rotate(0.84868668deg) translateY(-11px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="8/10"] {
  transform: rotate(1.4144778001deg) translateY(-8px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="9/10"] {
  transform: rotate(1.9802689201deg) translateY(-5px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="10/10"] {
  transform: rotate(2.5460600401deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/11"] {
  transform: rotate(-2.2915256764deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="2/11"] {
  transform: rotate(-1.8332205411deg) translateY(-4px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="3/11"] {
  transform: rotate(-1.3749154058deg) translateY(-8px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="4/11"] {
  transform: rotate(-0.9166102705deg) translateY(-10px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="5/11"] {
  transform: rotate(-0.4583051353deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="6/11"] {
  transform: rotate(0deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="7/11"] {
  transform: rotate(0.4583051353deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="8/11"] {
  transform: rotate(0.9166102705deg) translateY(-10px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="9/11"] {
  transform: rotate(1.3749154058deg) translateY(-8px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="10/11"] {
  transform: rotate(1.8332205411deg) translateY(-4px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="11/11"] {
  transform: rotate(2.2915256764deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="1/12"] {
  transform: rotate(-2.083253352deg) translateY(0px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="2/12"] {
  transform: rotate(-1.7044800153deg) translateY(-4px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="3/12"] {
  transform: rotate(-1.3257066786deg) translateY(-7px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="4/12"] {
  transform: rotate(-0.9469333418deg) translateY(-10px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="5/12"] {
  transform: rotate(-0.5681600051deg) translateY(-11px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="6/12"] {
  transform: rotate(-0.1893866684deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="7/12"] {
  transform: rotate(0.1893866684deg) translateY(-12px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="8/12"] {
  transform: rotate(0.5681600051deg) translateY(-11px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="9/12"] {
  transform: rotate(0.9469333418deg) translateY(-10px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="10/12"] {
  transform: rotate(1.3257066786deg) translateY(-7px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="11/12"] {
  transform: rotate(1.7044800153deg) translateY(-4px);
}
.daleofmerchants-arc-stock .daleofmerchants-card[data-arc="12/12"] {
  transform: rotate(2.083253352deg) translateY(0px);
}
