@charset "UTF-8";
/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Dale implementation : © Bart Swinkels
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
/*
	This is the CSS stylesheet of your game User Interface.

	Styles defined on this file will be applied to the HTML elements you define in your
	HTML template (*.tpl), and to HTML elements you create dynamically (in dale.js).

	Usually, you are using CSS to:

	1°) define the overall layout of your game (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

	2°) create your CSS-sprites: All images of your games should be gathered into a small number of image files. Then, using background-image and background-position CSS properties, you create HTML blocks that can  display these images correctly (see example below).

	3°) ... anything else: It is really easy to add and remove CSS classes dynamically from your Javascript with dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why, very often, using CSS classes for the logic of your user interface allow you to do complex thing easily.
*/
.dale-deck-selection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.dale-deck-selection-unavailable {
  background-color: black;
  background-blend-mode: luminosity;
  opacity: 0.5;
}

.dale-component-name {
  text-align: center;
  margin: 10px;
  white-space: nowrap;
}

.bgabutton.dale-bga-button-selected {
  outline: 3px solid red;
}

.dale-action-label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  border-radius: 0 0 10px 10px;
  padding: 3px 6px;
  color: white;
  min-width: 20%;
  text-align: center;
}

.dale-clickable {
  cursor: pointer;
}

.dale-text {
  pointer-events: none;
  display: none;
}

.dale-effective-value {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 6%;
  position: absolute;
  top: 2%;
  color: lightgreen;
  font-weight: bold;
  font-size: large;
  text-shadow: -1px -1px 0px #000, 0px -1px 0px #000, 1px -1px 0px #000, -1px 0px 0px #000, 1px 0px 0px #000, -1px 1px 0px #000, 0px 1px 0px #000, 1px 1px 0px #000, -2px -2px 0px #000, -1px -2px 0px #000, 0px -2px 0px #000, 1px -2px 0px #000, 2px -2px 0px #000, 2px -1px 0px #000, 2px 0px 0px #000, 2px 1px 0px #000, 2px 2px 0px #000, 1px 2px 0px #000, 0px 2px 0px #000, -1px 2px 0px #000, -2px 2px 0px #000, -2px 1px 0px #000, -2px 0px 0px #000, -2px -1px 0px #000;
  z-index: 200;
}

.dale-icon {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 50%;
  top: 50%;
  background-image: url("img/icons.png");
  transform: translate(-50%, -50%);
  z-index: 500;
}
.dale-icon.dale-selection-icon-1 {
  top: 80%;
  width: 50px;
  height: 50px;
}
.dale-icon.dale-selection-icon-2 {
  top: 80%;
  width: 50px;
  height: 50px;
}
.dale-icon.dale-chameleon-icon {
  pointer-events: none;
  width: 90px;
  height: 90px;
  top: 39%;
  left: 50%;
  opacity: 50%;
}

.player_score .dale-icon {
  position: static;
  height: 23px;
  width: 23px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 4px;
  transform: translateY(5px);
}
.player_score .dale-icon before {
  content: "\f005";
}

.dale-myhandsize-icon {
  background-image: url("img/handsize_icon.png");
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 4px;
  margin-right: 5px;
}
.dale-myhandsize-icon before {
  content: "\f005";
}

.placeholder {
  background-image: url("img/placeholder.png");
  border-radius: 10px;
  position: absolute;
}

.dale-placeholder {
  background-image: url("img/placeholders.png");
  transition: transform 0.3s ease, scale 0.3s ease;
  background-size: 300% 200%;
  border-radius: 10px;
  position: absolute;
}

#dale-market-wrap .dale-selected .dale-card {
  border-radius: 10px;
  box-shadow: 0px 2px 8px #e4aa19;
  outline: 3px solid #e4aa19;
  transform: translateY(5px);
  scale: 1.1;
}
#dale-market-wrap .dale-selected .dale-card.dale-line-target-chameleon {
  transform: translateY(0);
}

.dale-passive-selected {
  cursor: pointer;
  scale: 1.1;
  z-index: 200 !important;
  outline: 3px solid var(--dale-wrap-technique);
}

.dale-blinking {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}
.dale-line-source {
  cursor: pointer;
  border-radius: 10px;
  z-index: 202 !important;
}

.dale-line-target {
  cursor: pointer;
  border-radius: 10px;
}

.dale-line-source-chameleon {
  scale: 1.1 !important;
  box-shadow: 0px 0px 16px rgb(31, 119, 44) !important;
  outline: 3px solid rgb(31, 119, 44) !important;
}

.dale-line-target-chameleon {
  scale: 1.05 !important;
  box-shadow: 0px 0px 16px rgb(31, 119, 44) !important;
  outline: 3px solid rgba(31, 119, 44, 0.5) !important;
}

.dale-line-source-technique {
  scale: 1.1 !important;
  box-shadow: 0px 0px 16px var(--dale-wrap-technique) !important;
  outline: 3px solid var(--dale-wrap-technique) !important;
}

.dale-line-target-technique {
  box-shadow: 0px 0px 16px var(--dale-wrap-technique) !important;
}

.dale-card {
  background-image: url("img/cards.jpg");
  background-size: cover;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  transition: transform 0.3s ease, scale 0.3s ease;
  z-index: 100;
}
.dale-card:hover {
  scale: 1.1;
  z-index: 200;
}
.dale-card.dale-chameleon-overlay {
  pointer-events: none;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.dale-card.dale-relative {
  margin: 5px;
  position: relative;
}
.dale-card.dale-deck-selection {
  background-image: url("img/cards_selection.jpg");
}

#market-board-background {
  background-image: url(img/shop_day.jpg);
  background-repeat: no-repeat;
  position: relative;
}

#market-board {
  position: relative;
}

.dale-horizontal-flex {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.dale-no-vertical-margin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.dale-left-margin {
  margin-left: 10px;
}

#schedule {
  flex: 0 1;
}

.stall-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  flex: 1 1;
}
.stall-wrap .stall-container {
  width: 100%; /* literally wasted 2 full hours to get this dumb css styling to work */
  display: flex;
  flex: 1 1;
  justify-content: left;
}
.stall-wrap .stall-container .stack-container {
  flex: 1 1; /* Allow items to grow and shrink */
  margin-left: 5px;
  min-width: 0; /* Ensure items can shrink below their content width */
  position: relative;
}
.stall-wrap .stall-container .stack-container .dale-card:hover {
  transition: transform 0.3s ease 0s, scale 0.3s ease 0s, z-index 0s ease 0.3s;
  transition-delay: 0.05s;
}
.stall-wrap .stall-container .stack-container.dale-grayed-out {
  pointer-events: none;
  opacity: 0.5;
}
.stall-wrap .stall-container .stack-container.dale-grayed-out .dale-placeholder {
  background-position-y: -100%;
}
.stall-wrap .stall-container .stack-container.dale-grayed-out .dale-stack-index {
  color: #707070;
}
.stall-wrap .stall-container .stack-container .dale-placeholder {
  background-position-x: 0%;
}
.stall-wrap .stall-container .stack-container .dale-placeholder.dale-placeholder-partially-covered {
  background-position-x: -100%;
}
.stall-wrap .stall-container .stack-container .dale-placeholder.dale-placeholder-partially-covered.dale-clickable:hover .dale-icon {
  width: 50px;
  height: 50px;
  left: 78%;
}
.stall-wrap .stall-container .stack-container .dale-placeholder.dale-placeholder-partially-covered.dale-clickable:hover .dale-text {
  display: none;
}
.stall-wrap .stall-container .stack-container .dale-placeholder.dale-clickable:hover {
  background-color: var(--dale-wrap-build-a);
}
.stall-wrap .stall-container .stack-container .dale-placeholder.dale-clickable:hover .dale-icon {
  width: 50px;
  height: 50px;
  top: 40%;
  left: 56%;
}
.stall-wrap .stall-container .stack-container .dale-placeholder.dale-clickable:hover .dale-text {
  display: block;
  color: var(--dale-wrap-build);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  font-weight: bold;
  text-align: center;
}
.stall-wrap .stall-container .stack-container .dale-placeholder.dale-selected {
  background-color: var(--dale-wrap-build-a);
}
.stall-wrap .stall-container .stack-container .dale-stack-index {
  position: absolute;
  color: var(--dale-wrap-build);
  font-weight: bold;
  left: 82%;
  top: 5%;
}

.pile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  width: max-content;
}
.pile-container .dale-pile-size {
  pointer-events: none;
  z-index: 500;
  position: absolute;
  font-weight: bold;
  top: 4%;
  color: white;
  background-color: rgba(0, 0, 0, 0.62); /* Optional, for better visibility */
  text-align: center;
  font-size: 16px;
  right: -5%;
  border-radius: 5px;
  padding: 2px 7px;
  white-space: nowrap;
}
.pile-container .dale-pile-size.dale-pile-selected-size {
  color: var(--dale-wrap-build);
}
.pile-container .pile {
  position: relative;
}
.pile-container .dale-placeholder {
  background-position-x: -200%;
}

.popin-card-container {
  display: flex;
  flex-wrap: wrap;
}

.dale-hidden {
  display: none;
}

.card-row-container {
  display: flex;
}

.card-row-slot {
  margin-left: 5px;
}

.dale-card-tooltip {
  pointer-events: none;
}
.dale-card-tooltip .chameleon-name {
  text-decoration: line-through;
  color: #1d7a2a;
}
.dale-card-tooltip .dale-original-value {
  text-decoration: line-through;
  color: gray;
}
.dale-card-tooltip .text {
  max-width: 300px;
}

.dale-fizzle {
  scale: 1.1;
}

#dale-svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 201;
}
#dale-svg-container svg {
  width: 100%;
  height: 100%;
}
#dale-svg-container .dale-line-chameleon {
  stroke: green;
  stroke-width: 10;
  stroke-dashoffset: 1000;
  stroke-dasharray: 30, 10;
  animation: dale-dash 20s linear infinite;
}
#dale-svg-container .dale-line-technique {
  stroke: var(--dale-wrap-technique);
  stroke-width: 10;
  stroke-dashoffset: 1000;
  stroke-dasharray: 30, 10;
  animation: dale-dash 20s linear infinite;
}
@keyframes dale-dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.dijitTooltip {
  pointer-events: none;
}
.dijitTooltip div {
  pointer-events: none;
}

.dijitTooltipContainer {
  pointer-events: none;
}

.dale-dice {
  position: absolute;
  background-image: url("img/dice.png");
  background-size: 600% 500%;
  background-position-y: 0%;
  background-position-x: -300%;
  width: 50px;
  height: 50px;
}

.dale-log-span {
  display: inline;
  vertical-align: middle;
}
.dale-log-span .dale-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  left: auto;
  position: relative;
  transform: translate(0, 0);
}

:root {
  --ocelot: rgb(227,6,19);
  --polecat: rgb(215,64,119);
  --hare: rgb(72,124,190);
  --pangolin1: rgb(127,186,39);
  --pangolin2: rgb(0,149,62);
  --die-size: 60px;
  --die-half: 30px;
}

.dale-die-container {
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 19%;
  left: 50%;
  z-index: 700;
  transform: translateX(-50%);
  min-width: 100%;
}

.dale-die {
  width: var(--die-size);
  height: var(--die-size);
  transform-style: preserve-3d;
  transition: transform 1s ease-out;
  cursor: pointer;
  margin: auto;
}

.dale-die-side {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.6);
  background-image: url("img/dice.png");
  background-size: 600% 500%;
}

.dale-die .dale-die-side-1 {
  transform: translateZ(var(--die-half));
}
.dale-die .dale-die-side-2 {
  transform: rotateX(-180deg) translateZ(var(--die-half)) scaleY(-1);
}
.dale-die .dale-die-side-3 {
  transform: rotateY(90deg) translateZ(var(--die-half));
}
.dale-die .dale-die-side-4 {
  transform: rotateY(-90deg) translateZ(var(--die-half));
}
.dale-die .dale-die-side-5 {
  transform: rotateX(90deg) translateZ(var(--die-half));
}
.dale-die .dale-die-side-6 {
  transform: rotateX(-90deg) translateZ(var(--die-half));
}

.dale-die[type=ocelot] .dale-die-side-1 {
  background-position: 0% 0%;
}
.dale-die[type=ocelot] .dale-die-side-2 {
  background-position: -100% 0%;
}
.dale-die[type=ocelot] .dale-die-side-3 {
  background-position: -200% 0%;
}
.dale-die[type=ocelot] .dale-die-side-4 {
  background-position: -300% 0%;
}
.dale-die[type=ocelot] .dale-die-side-5 {
  background-position: -400% 0%;
}
.dale-die[type=ocelot] .dale-die-side-6 {
  background-position: -500% 0%;
}
.dale-die[type=ocelot] ~ .dale-die-result {
  background-color: var(--ocelot);
}

.dale-die[type=polecat] .dale-die-side-1 {
  background-position: 0% -100%;
}
.dale-die[type=polecat] .dale-die-side-2 {
  background-position: -100% -100%;
}
.dale-die[type=polecat] .dale-die-side-3 {
  background-position: -200% -100%;
}
.dale-die[type=polecat] .dale-die-side-4 {
  background-position: -300% -100%;
}
.dale-die[type=polecat] .dale-die-side-5 {
  background-position: -400% -100%;
}
.dale-die[type=polecat] .dale-die-side-6 {
  background-position: -500% -100%;
}
.dale-die[type=polecat] ~ .dale-die-result {
  background-color: var(--polecat);
}

.dale-die[type=hare] .dale-die-side-1 {
  background-position: 0% -200%;
}
.dale-die[type=hare] .dale-die-side-2 {
  background-position: -100% -200%;
}
.dale-die[type=hare] .dale-die-side-3 {
  background-position: -200% -200%;
}
.dale-die[type=hare] .dale-die-side-4 {
  background-position: -300% -200%;
}
.dale-die[type=hare] .dale-die-side-5 {
  background-position: -400% -200%;
}
.dale-die[type=hare] .dale-die-side-6 {
  background-position: -500% -200%;
}
.dale-die[type=hare] ~ .dale-die-result {
  background-color: var(--hare);
}

.dale-die[type=pangolin1] .dale-die-side-1 {
  background-position: 0% -300%;
}
.dale-die[type=pangolin1] .dale-die-side-2 {
  background-position: -100% -300%;
}
.dale-die[type=pangolin1] .dale-die-side-3 {
  background-position: -200% -300%;
}
.dale-die[type=pangolin1] .dale-die-side-4 {
  background-position: -300% -300%;
}
.dale-die[type=pangolin1] .dale-die-side-5 {
  background-position: -400% -300%;
}
.dale-die[type=pangolin1] .dale-die-side-6 {
  background-position: -500% -300%;
}
.dale-die[type=pangolin1] ~ .dale-die-result {
  background-color: var(--pangolin1);
}

.dale-die[type=pangolin2] .dale-die-side-1 {
  background-position: 0% -400%;
}
.dale-die[type=pangolin2] .dale-die-side-2 {
  background-position: -100% -400%;
}
.dale-die[type=pangolin2] .dale-die-side-3 {
  background-position: -200% -400%;
}
.dale-die[type=pangolin2] .dale-die-side-4 {
  background-position: -300% -400%;
}
.dale-die[type=pangolin2] .dale-die-side-5 {
  background-position: -400% -400%;
}
.dale-die[type=pangolin2] .dale-die-side-6 {
  background-position: -500% -400%;
}
.dale-die[type=pangolin2] ~ .dale-die-result {
  background-color: var(--pangolin2);
}

.dale-die[side="1"] {
  transform: rotateX(0deg) rotateY(0deg);
}
.dale-die[side="1"].dale-roll {
  transform: rotateX(0deg) rotateY(0deg) rotateX(360deg) rotateY(360deg);
}

.dale-die[side="2"] {
  transform: rotateX(0deg) rotateY(180deg);
}
.dale-die[side="2"].dale-roll {
  transform: rotateX(0deg) rotateY(180deg) rotateX(360deg) rotateY(360deg);
}

.dale-die[side="3"] {
  transform: rotateX(0deg) rotateY(-90deg);
}
.dale-die[side="3"].dale-roll {
  transform: rotateX(0deg) rotateY(-90deg) rotateX(360deg) rotateY(360deg);
}

.dale-die[side="4"] {
  transform: rotateX(0deg) rotateY(90deg);
}
.dale-die[side="4"].dale-roll {
  transform: rotateX(0deg) rotateY(90deg) rotateX(360deg) rotateY(360deg);
}

.dale-die[side="5"] {
  transform: rotateX(-90deg) rotateY(0deg);
}
.dale-die[side="5"].dale-roll {
  transform: rotateX(-90deg) rotateY(0deg) rotateX(360deg) rotateY(360deg);
}

.dale-die[side="6"] {
  transform: rotateX(90deg) rotateY(0deg);
}
.dale-die[side="6"].dale-roll {
  transform: rotateX(90deg) rotateY(0deg) rotateX(360deg) rotateY(360deg);
}

.dale-die-result {
  margin-top: 20px;
  display: inline-block;
  position: relative;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.dale-die-result.dale-die-hide {
  opacity: 0;
}
.dale-die-result.dale-die-reveal {
  animation: fadeUp 0.3s forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    bottom: -10px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
:root {
  --dale-wrap-technique: rgb(40,125,184);
  --dale-wrap-technique-a: rgba(40,125,184,0.15);
  --dale-wrap-purchase: rgb(210,128,21);
  --dale-wrap-purchase-a: rgba(210,128,21,0.15);
  --dale-wrap-build: rgb(192, 61, 120);
  --dale-wrap-build-a: rgb(192,61,120,0.15);
  --dale-wrap-discard: rgb(232,62,51);
  --dale-wrap-discard-a: rgb(232,62,51,0.15);
  --dale-wrap-default: rgb(100,100,100, 0.5);
  --dale-wrap-default-a: rgb(100,100,100,0.15);
}

body {
  background: url("https://stories.daimyria.fi/img/background-page.jpg");
}

#dale-myhand-wrap {
  flex-grow: 1;
}

#dale-mylimbo-wrap {
  flex-grow: 0;
  min-width: 35%;
  transition: padding 0.5s, min-width 0.5s;
}
#dale-mylimbo-wrap.dale-hidden-transitioning {
  min-width: 0;
  padding: 0;
}
#dale-mylimbo-wrap.dale-hidden-transitioning .dale-label {
  color: transparent;
  padding: 0px 0px;
  width: 0px;
}
#dale-mylimbo-wrap.dale-hidden {
  display: none;
  min-width: 0;
  padding: 0;
}
#dale-mylimbo-wrap.dale-hidden .dale-label {
  display: none;
}

.dale-wrap-technique.dale-arc-stock {
  outline: 3px solid var(--dale-wrap-technique);
}
.dale-wrap-technique .dale-label {
  background-color: var(--dale-wrap-technique);
}
.dale-wrap-technique .dale-card.dale-selected {
  outline: 3px solid var(--dale-wrap-technique);
  background-color: var(--dale-wrap-technique-a);
  background-blend-mode: overlay;
}
.dale-wrap-technique .dale-card.dale-selected .dale-card.dale-chameleon-overlay {
  background-color: var(--dale-wrap-technique-a);
  background-blend-mode: overlay;
}
.dale-wrap-technique .dale-clickable:hover {
  box-shadow: 0px 0px 8px 2px var(--dale-wrap-technique);
}

.dale-wrap-purchase.dale-arc-stock {
  outline: 3px solid var(--dale-wrap-purchase);
}
.dale-wrap-purchase .dale-label {
  background-color: var(--dale-wrap-purchase);
}
.dale-wrap-purchase .dale-card.dale-selected {
  outline: 3px solid var(--dale-wrap-purchase);
  background-color: var(--dale-wrap-purchase-a);
  background-blend-mode: overlay;
}
.dale-wrap-purchase .dale-card.dale-selected .dale-card.dale-chameleon-overlay {
  background-color: var(--dale-wrap-purchase-a);
  background-blend-mode: overlay;
}
.dale-wrap-purchase .dale-clickable:hover {
  box-shadow: 0px 0px 8px 2px var(--dale-wrap-purchase);
}

.dale-wrap-build.dale-arc-stock {
  outline: 3px solid var(--dale-wrap-build);
}
.dale-wrap-build .dale-label {
  background-color: var(--dale-wrap-build);
}
.dale-wrap-build .dale-card.dale-selected {
  outline: 3px solid var(--dale-wrap-build);
  background-color: var(--dale-wrap-build-a);
  background-blend-mode: overlay;
}
.dale-wrap-build .dale-card.dale-selected .dale-card.dale-chameleon-overlay {
  background-color: var(--dale-wrap-build-a);
  background-blend-mode: overlay;
}
.dale-wrap-build .dale-clickable:hover {
  box-shadow: 0px 0px 8px 2px var(--dale-wrap-build);
}

.dale-wrap-discard.dale-arc-stock {
  outline: 3px solid var(--dale-wrap-discard);
}
.dale-wrap-discard .dale-label {
  background-color: var(--dale-wrap-discard);
}
.dale-wrap-discard .dale-card.dale-selected {
  outline: 3px solid var(--dale-wrap-discard);
  background-color: var(--dale-wrap-discard-a);
  background-blend-mode: overlay;
}
.dale-wrap-discard .dale-card.dale-selected .dale-card.dale-chameleon-overlay {
  background-color: var(--dale-wrap-discard-a);
  background-blend-mode: overlay;
}
.dale-wrap-discard .dale-clickable:hover {
  box-shadow: 0px 0px 8px 2px var(--dale-wrap-discard);
}

.dale-wrap-default.dale-arc-stock {
  outline: 3px solid var(--dale-wrap-default);
}
.dale-wrap-default .dale-label {
  background-color: var(--dale-wrap-default);
}
.dale-wrap-default .dale-card.dale-selected {
  outline: 3px solid var(--dale-wrap-default);
  background-color: var(--dale-wrap-default-a);
  background-blend-mode: overlay;
}
.dale-wrap-default .dale-card.dale-selected .dale-card.dale-chameleon-overlay {
  background-color: var(--dale-wrap-default-a);
  background-blend-mode: overlay;
}
.dale-wrap-default .dale-clickable:hover {
  box-shadow: 0px 0px 8px 2px var(--dale-wrap-default);
}

.dale-card.dale-selected:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dale-flat-stock .dale-card {
  z-index: 100;
}

.dale-arc-stock {
  padding: 0 10px 15px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  font-family: helvetica;
  width: auto;
  /* ----------------------------- */
  /* --- <GENERATED BY PYTHON> --- */
  /* ----------------------------- */
  /* 1 cards */
  /* 2 cards */
  /* 3 cards */
  /* 4 cards */
  /* 5 cards */
  /* 6 cards */
  /* 7 cards */
  /* 8 cards */
  /* 9 cards */
  /* 10 cards */
  /* 11 cards */
  /* 12 cards */
  /* ------------------------------ */
  /* --- </GENERATED BY PYTHON> --- */
  /* ------------------------------ */
}
.dale-arc-stock .dale-label {
  color: white;
  padding: 10px 15px;
  border-radius: 0 0 10px 10px;
  display: inline-block;
  margin-bottom: 20px;
  transition: color 0.5s, color 0.5s, width 0.5s;
}
.dale-arc-stock .dale-card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: scale 0.3s ease, transform 0.5s ease;
  z-index: 100;
}
.dale-arc-stock .dale-card:hover:not(.dale-line-source):not(.dale-line-target) {
  scale: 1.1;
  z-index: 200 !important;
}
.dale-arc-stock .dale-card[data-arc="1/1"] {
  transform: rotate(0deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="1/2"] {
  transform: rotate(-5deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="2/2"] {
  transform: rotate(5deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="1/3"] {
  transform: rotate(-5deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="2/3"] {
  transform: rotate(0deg) translateY(-5px);
}
.dale-arc-stock .dale-card[data-arc="3/3"] {
  transform: rotate(5deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="1/4"] {
  transform: rotate(-5deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="2/4"] {
  transform: rotate(-1.6666666667deg) translateY(-7px);
}
.dale-arc-stock .dale-card[data-arc="3/4"] {
  transform: rotate(1.6666666667deg) translateY(-7px);
}
.dale-arc-stock .dale-card[data-arc="4/4"] {
  transform: rotate(5deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="1/5"] {
  transform: rotate(-5deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="2/5"] {
  transform: rotate(-2.5deg) translateY(-8px);
}
.dale-arc-stock .dale-card[data-arc="3/5"] {
  transform: rotate(0deg) translateY(-11px);
}
.dale-arc-stock .dale-card[data-arc="4/5"] {
  transform: rotate(2.5deg) translateY(-8px);
}
.dale-arc-stock .dale-card[data-arc="5/5"] {
  transform: rotate(5deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="1/6"] {
  transform: rotate(-4.5812200853deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="2/6"] {
  transform: rotate(-2.7487320512deg) translateY(-8px);
}
.dale-arc-stock .dale-card[data-arc="3/6"] {
  transform: rotate(-0.9162440171deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="4/6"] {
  transform: rotate(0.9162440171deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="5/6"] {
  transform: rotate(2.7487320512deg) translateY(-8px);
}
.dale-arc-stock .dale-card[data-arc="6/6"] {
  transform: rotate(4.5812200853deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="1/7"] {
  transform: rotate(-3.818304866deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="2/7"] {
  transform: rotate(-2.5455365773deg) translateY(-7px);
}
.dale-arc-stock .dale-card[data-arc="3/7"] {
  transform: rotate(-1.2727682887deg) translateY(-11px);
}
.dale-arc-stock .dale-card[data-arc="4/7"] {
  transform: rotate(0deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="5/7"] {
  transform: rotate(1.2727682887deg) translateY(-11px);
}
.dale-arc-stock .dale-card[data-arc="6/7"] {
  transform: rotate(2.5455365773deg) translateY(-7px);
}
.dale-arc-stock .dale-card[data-arc="7/7"] {
  transform: rotate(3.818304866deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="1/8"] {
  transform: rotate(-3.2731540832deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="2/8"] {
  transform: rotate(-2.3379672023deg) translateY(-6px);
}
.dale-arc-stock .dale-card[data-arc="3/8"] {
  transform: rotate(-1.4027803214deg) translateY(-10px);
}
.dale-arc-stock .dale-card[data-arc="4/8"] {
  transform: rotate(-0.4675934405deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="5/8"] {
  transform: rotate(0.4675934405deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="6/8"] {
  transform: rotate(1.4027803214deg) translateY(-10px);
}
.dale-arc-stock .dale-card[data-arc="7/8"] {
  transform: rotate(2.3379672023deg) translateY(-6px);
}
.dale-arc-stock .dale-card[data-arc="8/8"] {
  transform: rotate(3.2731540832deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="1/9"] {
  transform: rotate(-2.8641923683deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="2/9"] {
  transform: rotate(-2.1481442762deg) translateY(-5px);
}
.dale-arc-stock .dale-card[data-arc="3/9"] {
  transform: rotate(-1.4320961842deg) translateY(-9px);
}
.dale-arc-stock .dale-card[data-arc="4/9"] {
  transform: rotate(-0.7160480921deg) translateY(-11px);
}
.dale-arc-stock .dale-card[data-arc="5/9"] {
  transform: rotate(0deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="6/9"] {
  transform: rotate(0.7160480921deg) translateY(-11px);
}
.dale-arc-stock .dale-card[data-arc="7/9"] {
  transform: rotate(1.4320961842deg) translateY(-9px);
}
.dale-arc-stock .dale-card[data-arc="8/9"] {
  transform: rotate(2.1481442762deg) translateY(-5px);
}
.dale-arc-stock .dale-card[data-arc="9/9"] {
  transform: rotate(2.8641923683deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="1/10"] {
  transform: rotate(-2.5460600401deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="2/10"] {
  transform: rotate(-1.9802689201deg) translateY(-5px);
}
.dale-arc-stock .dale-card[data-arc="3/10"] {
  transform: rotate(-1.4144778001deg) translateY(-8px);
}
.dale-arc-stock .dale-card[data-arc="4/10"] {
  transform: rotate(-0.84868668deg) translateY(-11px);
}
.dale-arc-stock .dale-card[data-arc="5/10"] {
  transform: rotate(-0.28289556deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="6/10"] {
  transform: rotate(0.28289556deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="7/10"] {
  transform: rotate(0.84868668deg) translateY(-11px);
}
.dale-arc-stock .dale-card[data-arc="8/10"] {
  transform: rotate(1.4144778001deg) translateY(-8px);
}
.dale-arc-stock .dale-card[data-arc="9/10"] {
  transform: rotate(1.9802689201deg) translateY(-5px);
}
.dale-arc-stock .dale-card[data-arc="10/10"] {
  transform: rotate(2.5460600401deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="1/11"] {
  transform: rotate(-2.2915256764deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="2/11"] {
  transform: rotate(-1.8332205411deg) translateY(-4px);
}
.dale-arc-stock .dale-card[data-arc="3/11"] {
  transform: rotate(-1.3749154058deg) translateY(-8px);
}
.dale-arc-stock .dale-card[data-arc="4/11"] {
  transform: rotate(-0.9166102705deg) translateY(-10px);
}
.dale-arc-stock .dale-card[data-arc="5/11"] {
  transform: rotate(-0.4583051353deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="6/11"] {
  transform: rotate(0deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="7/11"] {
  transform: rotate(0.4583051353deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="8/11"] {
  transform: rotate(0.9166102705deg) translateY(-10px);
}
.dale-arc-stock .dale-card[data-arc="9/11"] {
  transform: rotate(1.3749154058deg) translateY(-8px);
}
.dale-arc-stock .dale-card[data-arc="10/11"] {
  transform: rotate(1.8332205411deg) translateY(-4px);
}
.dale-arc-stock .dale-card[data-arc="11/11"] {
  transform: rotate(2.2915256764deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="1/12"] {
  transform: rotate(-2.083253352deg) translateY(0px);
}
.dale-arc-stock .dale-card[data-arc="2/12"] {
  transform: rotate(-1.7044800153deg) translateY(-4px);
}
.dale-arc-stock .dale-card[data-arc="3/12"] {
  transform: rotate(-1.3257066786deg) translateY(-7px);
}
.dale-arc-stock .dale-card[data-arc="4/12"] {
  transform: rotate(-0.9469333418deg) translateY(-10px);
}
.dale-arc-stock .dale-card[data-arc="5/12"] {
  transform: rotate(-0.5681600051deg) translateY(-11px);
}
.dale-arc-stock .dale-card[data-arc="6/12"] {
  transform: rotate(-0.1893866684deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="7/12"] {
  transform: rotate(0.1893866684deg) translateY(-12px);
}
.dale-arc-stock .dale-card[data-arc="8/12"] {
  transform: rotate(0.5681600051deg) translateY(-11px);
}
.dale-arc-stock .dale-card[data-arc="9/12"] {
  transform: rotate(0.9469333418deg) translateY(-10px);
}
.dale-arc-stock .dale-card[data-arc="10/12"] {
  transform: rotate(1.3257066786deg) translateY(-7px);
}
.dale-arc-stock .dale-card[data-arc="11/12"] {
  transform: rotate(1.7044800153deg) translateY(-4px);
}
.dale-arc-stock .dale-card[data-arc="12/12"] {
  transform: rotate(2.083253352deg) translateY(0px);
}
