@charset "UTF-8";
/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Dale implementation : © Bart Swinkels
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
/*
	This is the CSS stylesheet of your game User Interface.

	Styles defined on this file will be applied to the HTML elements you define in your
	HTML template (*.tpl), and to HTML elements you create dynamically (in dale.js).

	Usually, you are using CSS to:

	1°) define the overall layout of your game (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

	2°) create your CSS-sprites: All images of your games should be gathered into a small number of image files. Then, using background-image and background-position CSS properties, you create HTML blocks that can  display these images correctly (see example below).

	3°) ... anything else: It is really easy to add and remove CSS classes dynamically from your Javascript with dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why, very often, using CSS classes for the logic of your user interface allow you to do complex thing easily.
*/
.stockitem {
  z-index: 5;
  border-radius: 10px;
}

.placeholder {
  background-image: url("img/placeholder.png");
  border-radius: 10px;
  position: absolute;
}

.card {
  background-image: url("img/cards.jpg");
  border-radius: 10px;
  position: absolute;
}

#market-board-background {
  background-image: url(img/shop_day.jpg);
  background-repeat: no-repeat;
  position: relative;
}

#market-board {
  position: relative;
}

.pile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: max-content;
}
.pile-container .name {
  margin: 10px;
  white-space: nowrap;
}
.pile-container .size {
  z-index: 10;
  position: absolute;
  font-weight: bold;
  top: 4%;
  left: 82%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.62); /* Optional, for better visibility */
  text-align: center;
  padding: 5px 10px;
  width: 40px;
  font-size: 16px;
  margin: auto;
  padding-top: 2px;
  padding-bottom: 2px;
}
.pile-container .pile {
  position: relative;
}

/*
	Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

	.white_token {
		background-image: url('img/tokens.png');
		background-position: 0px 0px;
	}
	.black_token {
		background-image: url('img/tokens.png');
		background-position: -20px 0px;
	}
	.token {
		width: 20px;
		height: 20px;
		background-repeat: none;
	}
*/
