/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Dale implementation : © Bart Swinkels
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/*
	This is the CSS stylesheet of your game User Interface.
	
	Styles defined on this file will be applied to the HTML elements you define in your
	HTML template (*.tpl), and to HTML elements you create dynamically (in dale.js).
	
	Usually, you are using CSS to:
	
	1°) define the overall layout of your game (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

	2°) create your CSS-sprites: All images of your games should be gathered into a small number of image files. Then, using background-image and background-position CSS properties, you create HTML blocks that can  display these images correctly (see example below).
	
	3°) ... anything else: It is really easy to add and remove CSS classes dynamically from your Javascript with dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why, very often, using CSS classes for the logic of your user interface allow you to do complex thing easily.
*/

////////////////////////////////////////////////////////////////
////////////////////     DECK SELECTION     ////////////////////
////////////////////////////////////////////////////////////////

.dale-deck-selection-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px
}

.dale-deck-selection-unavailable {
	background-color: black;
    background-blend-mode: luminosity;
	opacity: 0.5;
}

//////////////////////////////////////////////////////
////////////////////     GAME     ////////////////////
//////////////////////////////////////////////////////

.dale-component-name {
	text-align: center;
	margin: 10px;
	white-space: nowrap;
}

.bgabutton.dale-bga-button-selected {
	outline: 3px solid red;
}

.dale-action-label {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -10px);
	border-radius: 0 0 10px 10px;
	padding: 3px 6px;
	color: white;
	min-width: 20%;
	text-align: center;
}

.dale-clickable {
	cursor: pointer;
}

.dale-text {
	pointer-events: none;
	display: none; //by default, text is hidden
}

.dale-effective-value {
	height: 20px;
    width: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 6%;
    position: absolute;
    top: 2%;
    color: lightgreen;
    font-weight: bold;
	font-size: large;
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #000,
        -1px -2px 0px #000,
         0px -2px 0px #000,
         1px -2px 0px #000,
         2px -2px 0px #000,
         2px -1px 0px #000,
         2px  0px 0px #000,
         2px  1px 0px #000,
         2px  2px 0px #000,
         1px  2px 0px #000,
         0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;
	z-index: 200;
}

.dale-icon {
	position: absolute;
	width: 0px; //a more specific selector should override this
	height: 0px; //a more specific selector should override this
	left: 50%; //a more specific selector should override this
	top: 50%; //a more specific selector should override this
	background-image: url('img/icons.png');
    transform: translate(-50%, -50%);
	z-index: 500;
	&.dale-selection-icon-1 {
		top: 80%;
		width: 50px;
		height: 50px;
	}
	&.dale-selection-icon-2 {
		top: 80%;
		width: 50px;
		height: 50px;
	}
	&.dale-chameleon-icon {
		pointer-events: none;
		width: 90px;
		height: 90px;
		top: 39%;
		left: 50%;
		opacity: 50%;
	}
}

.dale-myhandsize-icon {
	before {
		content: "\f005";
	}
	background-image: url('img/handsize_icon.png');
	width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
	display: inline-block;
	margin-left: 4px;
	margin-right: 5px;
}

.placeholder {
	background-image: url('img/placeholder.png');
	border-radius: 10px;
	position: absolute;
}

.dale-placeholder {
	background-image: url('img/placeholders.png');
	background-size: 300% 200%;
	border-radius: 10px;
	position: absolute;
}

// .dale-clickable {
// 	cursor: pointer;
// }

#dale-market-wrap {
	.dale-selected { //note that the slot is selected, not the card
		.dale-card {
			border-radius: 10px;
			box-shadow: 0px 2px 8px #e4aa19;
			outline: 3px solid #e4aa19;
			transform: translateY(5px);
			scale: 1.1;
			&.dale-line-target-chameleon {
				transform: translateY(0);
			}
		}
	}
}

.dale-passive-selected {
	cursor: pointer;
	scale: 1.1;
	z-index: 200 !important;
	outline: 3px solid var(--dale-wrap-technique);
	// background-color: var(--dale-wrap-technique-a);
	// background-blend-mode: overlay;
	// .dale-chameleon-overlay {
	// 	background-color: var(--dale-wrap-technique-a);
	// 	background-blend-mode: overlay;
	// }
}

.dale-blinking {
	animation: blinker 1s infinite;
}

@keyframes blinker {
	from { opacity: 1.0; }
	50% { opacity: 0.75; }
	to { opacity: 1.0; }
}

.dale-line-source {
	cursor: pointer;
	border-radius: 10px;
	z-index: 202 !important;
}

.dale-line-target {
	cursor: pointer;
	border-radius: 10px;
}

.dale-line-source-chameleon {
	scale: 1.1 !important;
	box-shadow: 0px 0px 16px rgba(31, 119, 44) !important;
	outline: 3px solid rgba(31, 119, 44) !important;
}

.dale-line-target-chameleon {
	scale: 1.05 !important;
	box-shadow: 0px 0px 16px rgba(31, 119, 44) !important;
	outline: 3px solid rgba(31, 119, 44, 0.5) !important;
}

.dale-line-source-technique {
	scale: 1.1 !important;
	box-shadow: 0px 0px 16px var(--dale-wrap-technique) !important;
	outline: 3px solid var(--dale-wrap-technique) !important;
}

.dale-line-target-technique {
	box-shadow: 0px 0px 16px var(--dale-wrap-technique) !important;
}

.dale-card {
	background-image: url("img/cards.jpg");
	background-size: cover;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	border-radius: 10px;
	position: absolute; //this is needed for dojo animations
	transition: transform 0.3s ease, scale 0.3s ease;
	z-index: 100;
	&:hover {
		scale: 1.1;
		z-index: 200;
	}
	&.dale-chameleon-overlay {
		pointer-events: none;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5); //no box shadows for overlays
	}
	&.dale-relative {
		margin: 5px;
		position: relative;
	}
	&.dale-deck-selection {
		background-image: url("img/cards_selection.jpg");
	}
}

#market-board-background {
    background-image: url(img/shop_day.jpg);
	background-repeat: no-repeat;
	position: relative;
	//min-width: 3000px; //large enough to always fit the full the background image (2717px) + a little bit of margin for right item_margin of the right card
    // background-size: contain; /* Ensures the background image fits within the div, maintaining its aspect ratio */
}

#market-board {
	position: relative;
}

.dale-horizontal-flex {
	display: flex; 
	justify-content: space-evenly;
	width: 100%;
}

.dale-no-vertical-margin {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.dale-left-margin {
	margin-left: 10px;
}

#schedule {
	flex: 0 1;
}

.stall-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 0px;
	flex: 1 1;

	.stall-container {
		width: 100%; /* literally wasted 2 full hours to get this dumb css styling to work */
		display: flex;
		flex: 1 1;
		justify-content: left; //stack containers are left aligned

		.stack-container {
			flex: 1 1; /* Allow items to grow and shrink */
			// background-color: red;
			// border: 2px solid black;
			margin-left: 5px;
			min-width: 0; /* Ensure items can shrink below their content width */
			position: relative;

			.dale-card:hover {
				//add a delay to the z-index to (issue #47)
				transition: transform 0.3s ease 0s, scale 0.3s ease 0s, z-index 0s ease 0.3s;
				transition-delay: 0.05s;
			}

			&.dale-grayed-out {
				pointer-events: none;
				opacity: 0.5;
				.dale-placeholder { 
					background-position-y: -100%;
				}
				.dale-stack-index {
					color:#707070; //same as in placeholders.png
				}
			}

			.dale-placeholder {
				background-position-x: 0%;
				&.dale-placeholder-partially-covered {
					background-position-x: -100%;
					&.dale-clickable:hover {
						.dale-icon {
							width: 50px;
							height: 50px;
							left: 78%;
						}

						.dale-text {
							display: none;
						}
					}
				}
				&.dale-clickable:hover {
					background-color: var(--dale-wrap-build-a);
					.dale-icon {
						width: 50px;
						height: 50px;
						top: 40%;
						left: 56%;
					}
					.dale-text {
						display: block;
						color: var(--dale-wrap-build);
						position: absolute;
						top: 65%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 60%;
						font-weight: bold;
						text-align: center;
					}
				}
				&.dale-selected {
					background-color: var(--dale-wrap-build-a);
				}
			}

			.dale-stack-index {
				position: absolute;
				color: var(--dale-wrap-build);
				font-weight: bold;
				left: 82%;
				top: 5%;
			}
		}
	}
	
	// .dale-clickable:hover {
	// 	//growing animation glitches in stacks (maybe try z-index?)
	// 	cursor: pointer;
	// 	left: 4px;
	// }
}

.pile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 0px;
	width: max-content;

	.dale-pile-size {
		pointer-events: none;
		z-index: 500; //must be higher than all sliding cards
		position: absolute;
		font-weight: bold;
		top: 4%;
		color: white;
		background-color: rgba(0, 0, 0, 0.62); /* Optional, for better visibility */
		text-align: center;
		font-size: 16px;
		right: -5%;
		border-radius: 5px;
		padding: 2px 7px;
		white-space: nowrap;
		&.dale-pile-selected-size {
			color: var(--dale-wrap-build)
		}
	}

	.pile {
		position: relative;
	}

	.dale-placeholder {
		background-position-x: -200%;
	}
}

.popin-card-container {
	display: flex;
	flex-wrap: wrap;

	//TODO: safely delete this
	// .dale-selected {
	// 	transform: scale(1.05); 
	// 	outline: 3px solid var(--dale-wrap-build);
	// 	background-color: var(--dale-wrap-build-a);
	// 	background-blend-mode: overlay;
	// }
}

.dale-hidden {
	display: none;
}

.card-row-container {
	display: flex;
}

.card-row-slot {
	margin-left: 5px;
}

.dale-card-tooltip {
	pointer-events: none;
	.chameleon-name {
		text-decoration: line-through;
		color: #1d7a2a;
	}
	.dale-original-value {
		text-decoration: line-through;
		color: gray;
	}
	.text {
		max-width: 300px;
	}
}

.dale-fizzle {
	scale: 1.1;
}

#dale-svg-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	svg {
		width: 100%;
		height: 100%;
	}

	pointer-events: none;
	z-index: 201; //just above 'selected'
	.dale-line-chameleon {
		stroke: green;
		stroke-width: 10;
		stroke-dashoffset: 1000;
		stroke-dasharray: 30, 10;
		animation: dale-dash 20s linear infinite;
	}

	.dale-line-technique {
		stroke: var(--dale-wrap-technique);
		stroke-width: 10;
		stroke-dashoffset: 1000;
		stroke-dasharray: 30, 10;
		animation: dale-dash 20s linear infinite;
	}
	  
	@keyframes dale-dash {
		from { stroke-dashoffset: 1000; }
		to { stroke-dashoffset: 0; }
	}
}

.dijitTooltip {
	pointer-events: none;
	div {
		pointer-events: none;
	}
}
.dijitTooltipContainer {
	pointer-events: none;
}

.dale-dice {
	position: absolute;
	background-image: url('img/dice.png');
	background-size: 600% 500%;
	background-position-y: 0%;
	background-position-x: -300%;
	width: 50px;
	height: 50px;
}


////////////////////////////////////////////////////
//////       Awesome css by Sami Laakso       //////
////////////////////////////////////////////////////

:root {
	--dale-wrap-technique: rgb(40,125,184);
	--dale-wrap-technique-a: rgba(40,125,184,0.15);
	--dale-wrap-purchase: rgb(210,128,21);
	--dale-wrap-purchase-a: rgba(210,128,21,0.15);
	--dale-wrap-build: rgb(192, 61, 120);
	--dale-wrap-build-a: rgb(192,61,120,0.15);
	--dale-wrap-discard: rgb(232,62,51);
	--dale-wrap-discard-a: rgb(232,62,51,0.15);
	--dale-wrap-default: rgb(100,100,100, 0.5); //grayed out
	--dale-wrap-default-a: rgb(100,100,100,0.15);
}
  
body {
	background: url('https://stories.daimyria.fi/img/background-page.jpg');
}

#dale-myhand-wrap {
	flex-grow: 1;
}

#dale-mylimbo-wrap {
	flex-grow: 0;
	min-width: 35%; //js overrides this to 3x card width
	transition: padding 0.5s, min-width 0.5s; //should match the js for "dale-hidden-transitioning"
	&.dale-hidden-transitioning {
		min-width: 0;
		padding: 0;
		.dale-label {
			color: transparent;
			padding: 0px 0px;
			width: 0px;
		}
	}
	&.dale-hidden {
		display: none;
		min-width: 0;
		padding: 0;
		.dale-label {
			display: none;
		}
	}
}

.dale-wrap-technique { 
	&.dale-arc-stock {
		outline: 3px solid var(--dale-wrap-technique); 
	}
	.dale-label { 
		background-color: var(--dale-wrap-technique); 
	}
	.dale-card.dale-selected {
		outline: 3px solid var(--dale-wrap-technique);
		background-color: var(--dale-wrap-technique-a);
		background-blend-mode: overlay;
		.dale-card.dale-chameleon-overlay {
			background-color: var(--dale-wrap-technique-a);
			background-blend-mode: overlay;
		}
	}
	.dale-clickable:hover {
		box-shadow: 0px 0px 8px 2px var(--dale-wrap-technique);
	}
}

.dale-wrap-purchase { 
	&.dale-arc-stock {
		outline: 3px solid var(--dale-wrap-purchase); 
	}
	.dale-label { 
		background-color: var(--dale-wrap-purchase); 
	}
	.dale-card.dale-selected {
		outline: 3px solid var(--dale-wrap-purchase);
		background-color: var(--dale-wrap-purchase-a);
		background-blend-mode: overlay;
		.dale-card.dale-chameleon-overlay {
			background-color: var(--dale-wrap-purchase-a);
			background-blend-mode: overlay;
		}
	}
	.dale-clickable:hover {
		box-shadow: 0px 0px 8px 2px var(--dale-wrap-purchase);
	}
}

.dale-wrap-build { 
	&.dale-arc-stock {
		outline: 3px solid var(--dale-wrap-build); 
	}
	.dale-label { 
		background-color: var(--dale-wrap-build); 
	}
	.dale-card.dale-selected {
		outline: 3px solid var(--dale-wrap-build);
		background-color: var(--dale-wrap-build-a);
		background-blend-mode: overlay;
		.dale-card.dale-chameleon-overlay {
			background-color: var(--dale-wrap-build-a);
			background-blend-mode: overlay;
		}
	}
	.dale-clickable:hover {
		box-shadow: 0px 0px 8px 2px var(--dale-wrap-build);
	}
}

.dale-wrap-discard { 
	&.dale-arc-stock {
		outline: 3px solid var(--dale-wrap-discard); 
	}
	.dale-label { 
		background-color: var(--dale-wrap-discard); 
	}
	.dale-card.dale-selected {
		outline: 3px solid var(--dale-wrap-discard);
		background-color: var(--dale-wrap-discard-a);
		background-blend-mode: overlay;
		.dale-card.dale-chameleon-overlay {
			background-color: var(--dale-wrap-discard-a);
			background-blend-mode: overlay;
		}
	}
	.dale-clickable:hover {
		box-shadow: 0px 0px 8px 2px var(--dale-wrap-discard);
	}
}

.dale-wrap-default { 
	&.dale-arc-stock {
		outline: 3px solid var(--dale-wrap-default); 
	}
	.dale-label { 
		background-color: var(--dale-wrap-default); 
	}
	.dale-card.dale-selected {
		outline: 3px solid var(--dale-wrap-default);
		background-color: var(--dale-wrap-default-a);
		background-blend-mode: overlay;
		.dale-card.dale-chameleon-overlay {
			background-color: var(--dale-wrap-default-a);
			background-blend-mode: overlay;
		}
	}
	.dale-clickable:hover {
		box-shadow: 0px 0px 8px 2px var(--dale-wrap-default);
	}
}

.dale-card.dale-selected:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.dale-flat-stock {
	.dale-card {
		z-index: 100;
	}
}

.dale-arc-stock {
	padding: 0 10px 15px;
	text-align: center;
	border-radius: 10px;
	margin: 10px;
	font-family: helvetica;
	width: auto;

	.dale-label {
		color: white;
		padding: 10px 15px;
		border-radius: 0 0 10px 10px;
		display: inline-block;
		margin-bottom: 20px;
		transition: color 0.5s, color 0.5s, width 0.5s; //should match the js for "dale-hidden-transitioning"
	}

	.dale-card {
		box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
		border-radius: 10px;
		transition: scale 0.3s ease, transform 0.5s ease;
		z-index: 100;
		
		&:hover:not(.dale-line-source):not(.dale-line-target) {
			scale: 1.1;
			z-index: 200 !important;
		}
	}

	/* ----------------------------- */
	/* --- <GENERATED BY PYTHON> --- */
	/* ----------------------------- */

	/* 1 cards */
	.dale-card[data-arc="1/1"] {
		transform: rotate(0deg) translateY(-0px);
	}

	/* 2 cards */
	.dale-card[data-arc="1/2"] {
		transform: rotate(-5.0deg) translateY(-0px);
	}

	.dale-card[data-arc="2/2"] {
		transform: rotate(5.0deg) translateY(-0px);
	}

	/* 3 cards */
	.dale-card[data-arc="1/3"] {
		transform: rotate(-5.0deg) translateY(-0px);
	}

	.dale-card[data-arc="2/3"] {
		transform: rotate(0.0deg) translateY(-5px);
	}

	.dale-card[data-arc="3/3"] {
		transform: rotate(5.0deg) translateY(-0px);
	}

	/* 4 cards */
	.dale-card[data-arc="1/4"] {
		transform: rotate(-5.0deg) translateY(-0px);
	}

	.dale-card[data-arc="2/4"] {
		transform: rotate(-1.666666666666667deg) translateY(-7px);
	}

	.dale-card[data-arc="3/4"] {
		transform: rotate(1.6666666666666663deg) translateY(-7px);
	}

	.dale-card[data-arc="4/4"] {
		transform: rotate(5.0deg) translateY(-0px);
	}

	/* 5 cards */
	.dale-card[data-arc="1/5"] {
		transform: rotate(-5.0deg) translateY(-0px);
	}

	.dale-card[data-arc="2/5"] {
		transform: rotate(-2.5deg) translateY(-8px);
	}

	.dale-card[data-arc="3/5"] {
		transform: rotate(0.0deg) translateY(-11px);
	}

	.dale-card[data-arc="4/5"] {
		transform: rotate(2.5deg) translateY(-8px);
	}

	.dale-card[data-arc="5/5"] {
		transform: rotate(5.0deg) translateY(-0px);
	}

	/* 6 cards */
	.dale-card[data-arc="1/6"] {
		transform: rotate(-4.581220085277042deg) translateY(-0px);
	}

	.dale-card[data-arc="2/6"] {
		transform: rotate(-2.7487320511662254deg) translateY(-8px);
	}

	.dale-card[data-arc="3/6"] {
		transform: rotate(-0.9162440170554083deg) translateY(-12px);
	}

	.dale-card[data-arc="4/6"] {
		transform: rotate(0.9162440170554083deg) translateY(-12px);
	}

	.dale-card[data-arc="5/6"] {
		transform: rotate(2.748732051166226deg) translateY(-8px);
	}

	.dale-card[data-arc="6/6"] {
		transform: rotate(4.581220085277042deg) translateY(-0px);
	}

	/* 7 cards */
	.dale-card[data-arc="1/7"] {
		transform: rotate(-3.8183048659927548deg) translateY(-0px);
	}

	.dale-card[data-arc="2/7"] {
		transform: rotate(-2.5455365773285035deg) translateY(-7px);
	}

	.dale-card[data-arc="3/7"] {
		transform: rotate(-1.2727682886642517deg) translateY(-11px);
	}

	.dale-card[data-arc="4/7"] {
		transform: rotate(0.0deg) translateY(-12px);
	}

	.dale-card[data-arc="5/7"] {
		transform: rotate(1.2727682886642513deg) translateY(-11px);
	}

	.dale-card[data-arc="6/7"] {
		transform: rotate(2.5455365773285035deg) translateY(-7px);
	}

	.dale-card[data-arc="7/7"] {
		transform: rotate(3.8183048659927548deg) translateY(-0px);
	}

	/* 8 cards */
	.dale-card[data-arc="1/8"] {
		transform: rotate(-3.27315408323344deg) translateY(-0px);
	}

	.dale-card[data-arc="2/8"] {
		transform: rotate(-2.3379672023096deg) translateY(-6px);
	}

	.dale-card[data-arc="3/8"] {
		transform: rotate(-1.4027803213857601deg) translateY(-10px);
	}

	.dale-card[data-arc="4/8"] {
		transform: rotate(-0.46759344046192014deg) translateY(-12px);
	}

	.dale-card[data-arc="5/8"] {
		transform: rotate(0.4675934404619198deg) translateY(-12px);
	}

	.dale-card[data-arc="6/8"] {
		transform: rotate(1.4027803213857601deg) translateY(-10px);
	}

	.dale-card[data-arc="7/8"] {
		transform: rotate(2.3379672023095996deg) translateY(-6px);
	}

	.dale-card[data-arc="8/8"] {
		transform: rotate(3.27315408323344deg) translateY(-0px);
	}

	/* 9 cards */
	.dale-card[data-arc="1/9"] {
		transform: rotate(-2.864192368329286deg) translateY(-0px);
	}

	.dale-card[data-arc="2/9"] {
		transform: rotate(-2.1481442762469642deg) translateY(-5px);
	}

	.dale-card[data-arc="3/9"] {
		transform: rotate(-1.432096184164643deg) translateY(-9px);
	}

	.dale-card[data-arc="4/9"] {
		transform: rotate(-0.7160480920823215deg) translateY(-11px);
	}

	.dale-card[data-arc="5/9"] {
		transform: rotate(0.0deg) translateY(-12px);
	}

	.dale-card[data-arc="6/9"] {
		transform: rotate(0.7160480920823215deg) translateY(-11px);
	}

	.dale-card[data-arc="7/9"] {
		transform: rotate(1.432096184164643deg) translateY(-9px);
	}

	.dale-card[data-arc="8/9"] {
		transform: rotate(2.1481442762469642deg) translateY(-5px);
	}

	.dale-card[data-arc="9/9"] {
		transform: rotate(2.864192368329286deg) translateY(-0px);
	}

	/* 10 cards */
	.dale-card[data-arc="1/10"] {
		transform: rotate(-2.546060040113423deg) translateY(-0px);
	}

	.dale-card[data-arc="2/10"] {
		transform: rotate(-1.980268920088218deg) translateY(-5px);
	}

	.dale-card[data-arc="3/10"] {
		transform: rotate(-1.414477800063013deg) translateY(-8px);
	}

	.dale-card[data-arc="4/10"] {
		transform: rotate(-0.8486866800378078deg) translateY(-11px);
	}

	.dale-card[data-arc="5/10"] {
		transform: rotate(-0.2828955600126027deg) translateY(-12px);
	}

	.dale-card[data-arc="6/10"] {
		transform: rotate(0.2828955600126027deg) translateY(-12px);
	}

	.dale-card[data-arc="7/10"] {
		transform: rotate(0.8486866800378075deg) translateY(-11px);
	}

	.dale-card[data-arc="8/10"] {
		transform: rotate(1.414477800063013deg) translateY(-8px);
	}

	.dale-card[data-arc="9/10"] {
		transform: rotate(1.9802689200882178deg) translateY(-5px);
	}

	.dale-card[data-arc="10/10"] {
		transform: rotate(2.546060040113423deg) translateY(-0px);
	}

	/* 11 cards */
	.dale-card[data-arc="1/11"] {
		transform: rotate(-2.2915256763502043deg) translateY(-0px);
	}

	.dale-card[data-arc="2/11"] {
		transform: rotate(-1.8332205410801636deg) translateY(-4px);
	}

	.dale-card[data-arc="3/11"] {
		transform: rotate(-1.3749154058101225deg) translateY(-8px);
	}

	.dale-card[data-arc="4/11"] {
		transform: rotate(-0.9166102705400818deg) translateY(-10px);
	}

	.dale-card[data-arc="5/11"] {
		transform: rotate(-0.45830513527004074deg) translateY(-12px);
	}

	.dale-card[data-arc="6/11"] {
		transform: rotate(0.0deg) translateY(-12px);
	}

	.dale-card[data-arc="7/11"] {
		transform: rotate(0.45830513527004074deg) translateY(-12px);
	}

	.dale-card[data-arc="8/11"] {
		transform: rotate(0.9166102705400815deg) translateY(-10px);
	}

	.dale-card[data-arc="9/11"] {
		transform: rotate(1.3749154058101227deg) translateY(-8px);
	}

	.dale-card[data-arc="10/11"] {
		transform: rotate(1.8332205410801636deg) translateY(-4px);
	}

	.dale-card[data-arc="11/11"] {
		transform: rotate(2.2915256763502043deg) translateY(-0px);
	}

	/* 12 cards */
	.dale-card[data-arc="1/12"] {
		transform: rotate(-2.0832533520199354deg) translateY(-0px);
	}

	.dale-card[data-arc="2/12"] {
		transform: rotate(-1.704480015289038deg) translateY(-4px);
	}

	.dale-card[data-arc="3/12"] {
		transform: rotate(-1.3257066785581406deg) translateY(-7px);
	}

	.dale-card[data-arc="4/12"] {
		transform: rotate(-0.9469333418272434deg) translateY(-10px);
	}

	.dale-card[data-arc="5/12"] {
		transform: rotate(-0.568160005096346deg) translateY(-11px);
	}

	.dale-card[data-arc="6/12"] {
		transform: rotate(-0.18938666836544873deg) translateY(-12px);
	}

	.dale-card[data-arc="7/12"] {
		transform: rotate(0.1893866683654485deg) translateY(-12px);
	}

	.dale-card[data-arc="8/12"] {
		transform: rotate(0.568160005096346deg) translateY(-11px);
	}

	.dale-card[data-arc="9/12"] {
		transform: rotate(0.9469333418272434deg) translateY(-10px);
	}

	.dale-card[data-arc="10/12"] {
		transform: rotate(1.3257066785581408deg) translateY(-7px);
	}

	.dale-card[data-arc="11/12"] {
		transform: rotate(1.704480015289038deg) translateY(-4px);
	}

	.dale-card[data-arc="12/12"] {
		transform: rotate(2.0832533520199354deg) translateY(-0px);
	}

	/* ------------------------------ */
	/* --- </GENERATED BY PYTHON> --- */
	/* ------------------------------ */
}
